[2020-01-23 08:42] songzhi opened #94 "[Bug] requestBody in parameters isn't sorted by required"
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/836b5da64df63b9972ae35c1003718172dc60b16/src/openApi/v3/parser/getOperation.ts#L55-L60

The `requestBody` is always the last of parameters.If there's any optional parameter in front of it,there will be an TS error 1016: A required parameter cannot follow an optional parameter.
My simple solution is
[code]

[2020-01-23 08:52] songzhi opened #95 "[Bug] the required and nullable field in parameter object is overrided by the schema field"
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/836b5da64df63b9972ae35c1003718172dc60b16/src/openApi/v3/parser/getOperationParameter.ts#L80
If a operation parameter object like this(in test/sepc.json)
[code]
The `required` and `nullable` are true.But the `isRequired` and `isNullable` will be false after executing the code above.Which is wrong in my opinion.
I think the code should b

[2020-01-23 09:07] songzhi opened #96 "[Feature] Support enumNames-like setting to generate enum with custom names"
There's basically tow options.The first is use another field like`enumNames:string[]` in `OpenApiSchema` to generate enums with custom names.
Schema like this:
[code]
Generated code:
[code]
But enumNames is not a valid openapi schema field.
Another option is expanding the `getEnumFromDescription`.

[2020-02-06 11:41] songzhi opened #119 "[Bug] Operation path generation"
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/977854effb707ee171b06bbf3c6b18786441bad5/src/openApi/v3/parser/getOperationPath.ts#L8

If there's a url like `/users/{user_id}/`,the parameter name in generated code will be `userId`,but in path it still is `user_id`.Which is a bug.
Here's my fix:
[code]

[2020-02-11 01:00] ferdikoomen commented on #119
Hey Songzhi, let me have a check tomorrow, will merge your fix asap, plus will add a test case to prevent the issue in the future.

[2020-02-11 01:01] ferdikoomen commented on #94
That makes sense!

[2020-02-11 01:10] ferdikoomen commented on #96
there is a nice thread here https://github.com/OAI/OpenAPI-Specification/issues/681 some client support the x-enum-varnames. The x- props are extension props in the V3 spec. That might be a semi-supported way to do it.

[2020-02-11 01:11] ferdikoomen commented on #96
The code is not hard, I will have a look soon!

[2020-02-13 22:19] ferdikoomen commented on #119
@songzhi I have pushed a new version (0.1.15) with the changes. Let me know if this works for you.

[2020-02-13 22:19] ferdikoomen commented on #119
@songzhi I have pushed a new version (0.1.15) with the changes. Let me know if this works for you.

[2020-02-13 22:19] ferdikoomen commented on #95
@songzhi I have pushed a new version (0.1.15) with the changes. Let me know if this works for you.

[2020-02-13 22:19] ferdikoomen commented on #94
@songzhi I have pushed a new version (0.1.15) with the changes. Let me know if this works for you.

[2020-02-13 22:26] ferdikoomen commented on #96
@songzhi would the following SPEC work for you?

Example with **x-enum-varnames** and **x-enum-descriptions**

[code]

[2020-02-14 01:29] songzhi commented on #96
@ferdikoomen It's works for me. Thanks for this.

[2020-02-14 02:31] #119 closed

[2020-02-14 02:31] #95 closed

[2020-02-14 02:31] #94 closed

[2020-02-15 00:35] ferdikoomen commented on #96
Alright, i will try to implement this in the upcoming days. Keep you posted

[2020-02-15 05:45] songzhi opened #127 "Put all generated function's parameters into one object"
Here's the problem I've met.Because JS/TS hasn't named  parameter.The normal solution is
[code]
And currrently the generated code is like
[code]
It's frustrating that if I want to pass just one parameter which is in the rear,I have to write a bunch of undefined before it.

So if we use the former way,the problom will be solved.And we have named parameter passing(by the object literal).And the code

[2020-02-15 08:56] ferdikoomen commented on #127
Oh i like that, that could be a nice flag: ArgumentStyle vs ObjectStyle. Something like --useOptions?

[2020-02-15 09:04] songzhi commented on #127
Yeah，and now I think put all optional parameters to into options is the best way if using `--useOptions` .Like `**kwargs` in Python。

[2020-02-16 00:19] ferdikoomen commented on #96
I pushed some changes to the master branch, did not publish a new version yet. Feel free to have a look, i will do some final testing tomorrow.

[2020-02-17 08:32] songzhi commented on #127
@ferdikoomen It's embarrassing to say that I'm too impatient to wait for the new style.I wrote more code and found that the code could be more flexible and simple if using the new style.

[2020-02-17 08:34] ferdikoomen commented on #127
no problem, i had a look this weekend and it should be a simple change. I should be able to push some changes later on this week. If you want to help then feel free to create a PR or update some documentation. I will update this thread when the new option is available.

[2020-02-17 09:24] songzhi commented on #127
I did some updates on README. #128 You can edit it for correctness after you finish the code writing.

[2020-02-21 12:32] songzhi opened #135 "Wrong code generated when using model named `File`"
I have  a model named `File` and another named `FilePagingResponse`,here's the generated code:
[code]
So it's just using the builtin `File`,which is not my `File` model. And other code is OK.So, there must be something wrong in here.

[2020-02-21 12:34] ferdikoomen commented on #135
Hi @songzhi The File is an internal Javascript/Typescript class. Used for actual file references. Its used for when you for instance want to build something like an upload

[2020-02-21 13:02] songzhi commented on #135
@ferdikoomen I know, but I have a model called `File`.So either I rename the model or you change the codegen.By the way, the previous features are still be waiting desperately😂.

[2020-02-22 08:07] songzhi commented on #135
@ferdikoomen Based on Open API 3.0 [Spec](https://swagger.io/docs/specification/data-models/data-types/#file),which does not have the file type. Files are defined as strings.
So I think the code in here https://github.com/ferdikoomen/openapi-typescript-codegen/blob/43375ef0269081a2e6207ec771ffc6cef40f8a00/src/openApi/v3/parser/constants.ts#L13 is a mistake.Could you please fix it?

[2020-02-22 13:44] ferdikoomen commented on #96
ew version has been pushed (0.1.16) with support for enums

[2020-02-22 13:53] ferdikoomen commented on #135
OpenAPI has indeed no concept of 'Files'. Since each language uses its own spec, however it does have support for binaries. Lets say someone want to create a service that uploads a file. The following spec could make that work:

[code]

It would generate a call that looks like this:

[code]

[2020-02-22 14:15] #96 closed

[2020-02-22 14:22] songzhi commented on #135
I'm not so familiar with OpenAPI, but in the website I quoted before, it's saying:

[2020-02-22 14:26] songzhi commented on #135
Souds reasonable, thank you.

[2020-02-22 14:26] #135 closed

[2020-02-22 21:33] ferdikoomen commented on #127
Added 0.1.17 that supports --useOptions param. I'm still testing this, but feel free to play around with it.

[2020-02-23 02:43] songzhi opened #136 "Custom `requestUsingXX` function"
Supports using custom `requestUsingXX` function besides `requestUsingXHR` and `requestUsingFetch`.So users can using their custom network stack, for example there is a sort of plaform called 'mini program' in China, which is basically browers-based, but has it's own APIs eg. `request`.
It's easy to implement:
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/83483e67e42d0806f69fd8a535

[2020-02-26 10:51] ferdikoomen opened #140 "Option to call OpenAPI.generate() with JSON"
We want openapi.generate() to be called with JSON instead:

[code]

[2020-02-26 10:55] ferdikoomen opened #141 "Support anyOf in response"
Right now we don't support anyOf in the response (i think):

[code]

[2020-02-29 12:53] ferdikoomen commented on #127
@songzhi 0.1.17 has been tested and should have the alternative style fro arguments vs options

[2020-02-29 12:58] #127 closed

[2020-03-04 10:57] ferdikoomen commented on #140
You can now pass a string or a json object to the input param of the generate function.

[2020-03-04 10:57] #140 closed

[2020-04-10 15:01] kcappieg commented on #141
It seems "anyOf" is not supported in any model. A couple code files are depending on the type definition to be a string, not an array of strings. (First error was thrown to me in file `...dist/openApi/v3/parser/stripNamespace.js`. I monkey-patched the first error to see if I could get the whole thing working, but then got another error somewhere further down the chain.)

Seems like a useful projec

[2020-04-10 17:38] ferdikoomen commented on #141
Hey @kcappieg Would it be possible to send me your spec file (in an email or dm). I can have a quick look to see what needs to happen. Im always happy to support the full OpenAPI spec.

[2020-04-10 17:38] ferdikoomen commented on #141
i have some use cases, but it's always great to have some real-world test data.

[2020-04-13 13:01] kcappieg commented on #141
Turns out I misunderstood something about the openapi spec. I'm new to OpenAPI and using Spotlight as a GUI editor. When building models, it allows you to specify multiple types that it outputs as an array in the JSON OpenAPI spec. This seems to be the same as `anyOf`, but a different syntax. Reviewing the docs from swagger.io... this does not actually seem like it's valid syntax :(

So instead of

[2020-04-20 12:13] aarshaw opened #206 "Custom Headers"
Is it possible to add custom headers?

Currently looking to add an `Authorization` header: `Basic XXXXXXXXXX` - can only see a way documented for adding `Bearer` tokens ~ is there a way to add custom headers?

[2020-04-22 08:28] artem-tim commented on #141
Hi, hopping onto the issue - we also considering to use this (instead of that awful java codegen) for our project, but we would need the support for anyOf/oneOf as well
The spec is here https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/
Basically instead of only being able to have a single schema :
[code]
We would have a possibility to allow several possible inputs for the AP

[2020-04-23 05:25] ferdikoomen commented on #141
Hi @artem-tim i have some other changes pending as well, like the support for response header parsing. Let me check if i can fit this in. Might have some time over the weekend to update this. Thanks for the info, this should help a lot.

[2020-04-26 23:35] ferdikoomen commented on #206
@aarshaw At the moment: No. Quick question:

1.  Do you want to add the headers through the API spec (not sure how, since support is limited i think)?
2. Do you want to support a per-request kind of header (where you can pass the header like a request parameter)?
3. Or do you want to set a generic header (a bit like the Bearer option)?

Cheers

[2020-04-26 23:37] ferdikoomen commented on #141
@artem-tim I investigated the issue and started to make some changes. I need to call it a day now. Will ping you when there is a working branch.

[2020-04-27 06:38] aarshaw commented on #206
No worries, we were able to use a different generator for this.

We needed to add a `Basic` authorization header.

[2020-04-27 06:38] #206 closed

[2020-05-06 15:16] gazab opened #220 "Feature request: Allow urls in input parameter"
It would be very useful if you could specify an url as input when generating the client instead of just a local file. I always use an automatically generated OpenAPI spec together with Swagger UI and pointing it to the http served specification file is very natural.

Sure you can easily download it and generate a new client but I would prefer to just point it to the url of our test enviroment and

[2020-05-14 07:23] DaSchTour opened #226 "Broken enum"
**Describe the bug**
Such an enum creates broken typescript
[code]
Results in this TypeScript
[code]
Which is not valid

[2020-05-21 13:54] songzhi commented on #226
You could add another field `x-enum-varnames`  next to the `enum` field.
[code]

[2020-05-22 11:31] songzhi opened #233 "[Bug] Wrong code generated in options mode"
A path takes 2 parameters `a` and `b`, `b` is not required and has a default value.
Generated code by now:
[code]
Which is making `b`'s default value useless because we must give it a value to pass the type check.
Correct code should be:
[code]
It has been tested, if call `add` like `add({a:1})`, `b` will set as it's default value.

[2020-05-23 10:04] #233 closed

[2020-05-23 10:04] ferdikoomen commented on #233
Hi @songzhi there is a fix pushed in the master branch, will deploy a new version after some testing

[2020-05-23 15:58] #226 closed

[2020-05-23 16:30] ferdikoomen commented on #226
@DaSchTour there is a fixed pushed in the master branch, will test this now and release a new version on NPM. There is however one small 'issue':

The following enum is not valid in Typescript/Javascript, since variable names cannot start with numbers:

[code]

I cannot remove the number, since the labels might not be unique. So now i prefix them:

[code]

I check most other generators and they te

[2020-05-23 16:33] ferdikoomen commented on #226
If you want to create your custom enum names then you can check the x-enum-varnames in the readme: https://github.com/ferdikoomen/openapi-typescript-codegen

[2020-05-23 17:48] ferdikoomen commented on #233
just released version 0.2.9

[2020-05-23 17:48] ferdikoomen commented on #226
just released version 0.2.9

[2020-05-24 09:21] ferdikoomen commented on #233
Pushed version 0.3.1 that has some performance improvement due to precompiled templates.

[2020-05-24 09:21] ferdikoomen commented on #226
Pushed version 0.3.1 that has some performance improvement due to precompiled templates.

[2020-05-27 07:06] DaSchTour commented on #226
Thanks a lot for your work!

[2020-06-04 12:23] gazab opened #249 "Feature request: Option to change how cookies are sent with requests"
To allow us to use cookie based authentication and make the browser pass cookies to the server on each request we need to tell fetch to allow it. This is done by setting _credentials_ to "same-origin" or "include" when doing requests. Right now this is hardcoded to "same-origin" which only works if the client and API has the same origin.

I would like to set it to "include" by passing some option

[2020-06-07 10:32] ferdikoomen commented on #249
Good point @gazab Do you want to set this at the moment of generation? Otherwise im thinking we can add this to the OpenApi global settings (where we also set the bearer token for instace)

[2020-06-07 10:55] gazab commented on #249
@ferdikoomen Hm, I think I would prefer the global options for anything not required to be done on generation. And the old value should still be default. What do you think?

[2020-06-11 14:25] ferdikoomen commented on #249
Sounds good, adding this now

[2020-06-11 18:57] ferdikoomen commented on #249
Created PR: https://github.com/ferdikoomen/openapi-typescript-codegen/pull/256

OpenApi.WITH_CREDENTIALS = true

Will set the correct settings for both fetch and XHR request

[2020-06-14 18:27] gazab opened #257 "OpenAPI v3: Form parameters not parsed from requestBody"
One breaking change of OpenAPI 3.0 is that form and body parameters are both described using requestBody instead of using the old parameter with formdata as in value. See https://swagger.io/docs/specification/describing-request-body/ and https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#requestBodyObject

Unfortunately this doesn't work with this library since it still use

[2020-06-16 15:37] samuelneff opened #262 "Accept PR to separate Enums into own files?"
**Describe the solution you'd like**
I'd like to have an option to write enums to their own files (off by default to maintain backward compatibility).

With this option on, this currently generated code:

[code]

would instead generate this

[code]

If you would accept this, any guidance on how to go about it would be appreciated. I looked through the code and think it can be done with a new post-

[2020-06-16 19:17] thsorens opened #263 "Creating services includes imports not in use"
[code]

ApiError and OpenAPI is not being used in the generated service, and causes a TS6133 error when building it.

[2020-06-16 19:28] ferdikoomen commented on #136
Hi Songzhi, sorry for the delay in the response, but the idea behind the library is to keep it simple and work with standard (build-in) methods like fetch or xhr. If you want a fully customisable output then the classic codegen might be a better fit.

[2020-06-16 19:28] #136 closed

[2020-06-16 19:56] ferdikoomen commented on #220
@gazab There is a fix pushed to master, the generator now supports HTTP and HTTPS urls (public available, since it just plugs into the http and https methods of nodejs). Will create a new release in a bit, that will also contain the fixes for the credentials fix.

[2020-06-16 19:56] #220 closed

[2020-06-16 19:58] ferdikoomen commented on #249
Will create a new build in a bit, PR is merged

[2020-06-16 19:58] #249 closed

[2020-06-16 20:31] ferdikoomen commented on #262
@samuelneff I'm happy to give you some pointers, but maybe we need to answer the question: Why do we need/want this change? The reason they are inside a namespace (that equals the model) is because the enum is based on a variable name and those are no guaranteed to be unique. So you can have one model, lets say Person that will have a enum Gender, and you can have another model called Animal with

[2020-06-16 20:33] ferdikoomen commented on #263
@thsorens By default indeed it imports some general classes indeed, let me check it i can easily filter these out (or only add them if needed).

[2020-06-16 21:09] ferdikoomen commented on #263
@thsorens pushed version 0.4.4, let me know if that works for you

[2020-06-16 21:13] thsorens commented on #263
It looks great:) Now it generates it correctly. Thanks for the quick reply. This is a great tool:)

[2020-06-16 21:14] #263 closed

[2020-06-16 21:31] samuelneff commented on #262
Thank you. I understand it could run into problems, and that's why it would be off by default.

The reason I want it is because if we use the same enum in multiple places, we end up with duplicates and the namespace doesn't really make sense in that scenario. It might be a use-case that would work in our situation since we're very careful with variable naming consistency, but would not work in man

[2020-06-16 21:34] ferdikoomen commented on #262
"I'm not sure how to force Java/Spring to generate a schema with the enums as separate types though. Still looking at that alternate solution to my specific situation." Do you mean from the server / spec generation side?

[2020-06-16 21:36] samuelneff commented on #262
Yes, sorry I wasn't clear. I was referring to when we generate the schema from the Java classes.

Another teammate just suggested generating TS interfaces directly from the Java classes. That's more direct and probably better for my specific situation.

Sorry to have wasted your time.

[2020-06-16 21:38] ferdikoomen commented on #262
No problem! To be fair Java and Typescript are indeed very similar, so that sounds like a doable task, specially if the amount of enums are limited. I will close the issue, but feel free to reopen this if you get some new insights :-)

[2020-06-16 21:38] #262 closed

[2020-06-17 04:53] gazab commented on #220
Awesome! Thanks a lot!

[2020-06-17 08:49] PieterVanEde opened #264 "Generated barrelfile incomplete"
When I generate using these options:

`    exportCore: false,
    exportModels: true,
    exportSchemas: true,
    exportServices: false,`

Then the barrel file has the following problems:
- it contains a reference to a service, which is explicitly not generated
- it contains no references to the models

[2020-06-17 10:17] ferdikoomen commented on #264
Hi Pieter, let me check, I'll add some additional test cases for these scenarios.

[2020-06-17 10:19] PieterVanEde commented on #264
Great! I'm currently seeing if I can make a PR to fix this.

[2020-06-17 10:33] PieterVanEde commented on #264
Weird thing is that if I look at your code, it seems valid to me, yet with even version 0.4.4 I see the behaviour is wrong.

[2020-06-17 10:35] ferdikoomen commented on #264
@PieterVanEde Can you share you spec with me? Is that possible?

[2020-06-17 10:53] ferdikoomen commented on #264
Or the better question: if you generate it with the default options, does everything look good then?

[2020-06-17 10:58] PieterVanEde commented on #264
Yep, after fooling around a bit, I've found the following:

- if generated with default options, all looks fine.
- if generated with everything set to false, the barrel file is empty (correct)
- if generated with `exportCore: true,
    exportModels: false,
    exportSchemas: false,
    exportServices: true,` then only the core and models end up in the barrel (wrong)
- if generated with `exportCore

[2020-06-17 11:00] ferdikoomen commented on #264
Ah maybe the parsing logic of the booleans are wrong somehow, are using the Node API or using it via command line / package json?

[2020-06-17 11:02] PieterVanEde commented on #264
The parsing is indeed wrong, I've linked my local checkout of my fork inside my test project, and added this to the top of the index.hbs:

`{{#if exportCore}}
// pieter was here: exportCore true
{{/if}}
{{#if exportModels}}
// pieter was here: exportModels true
{{/if}}
{{#if exportSchemas}}
// pieter was here: exportSchemas true
{{/if}}
{{#if exportServices}}
// pieter was here: exportServices tru

[2020-06-17 11:03] PieterVanEde commented on #264
I'm using the typescript interface to call the library

[2020-06-17 11:04] PieterVanEde commented on #264
Strangely enough, only the barrel file is wrong. The actual files that are output, are correct.

[2020-06-17 11:05] PieterVanEde commented on #264
Error spotted, PR on its way

[2020-06-17 11:06] PieterVanEde commented on #264
I don't have the time to write some tests, could I leave that to you?

[2020-06-17 11:11] PieterVanEde commented on #264
PR is created, hope you agree ;)

[2020-06-17 11:32] ferdikoomen commented on #264
Cool, thanks for spotting this, stupid mistake, will push a new version to npm now

[2020-06-17 11:34] ferdikoomen commented on #264
Pushed 0.4.5

[2020-06-17 11:36] ferdikoomen commented on #264
I re-opend this as a reminder to add some test cases

[2020-06-17 11:40] PieterVanEde commented on #264
Great! And well, there is a stupid mistake in a great library that I could use for free, so I don't see a problem ;)

[2020-06-24 08:29] thsorens opened #269 "Add custom headers"
Is it possible to add a way to add custom headers?

Basically a dictionary that custom headers can be added to (in the config file), and just traverse and add them in the request? It is not uncommon for applications to provide additional headers.

Im happy to provide a pull-request if that makes it easier for you:)

[2020-07-06 15:30] kobik commented on #269
Allowing adding default headers and per request headers would be great

[2020-07-10 14:09] #264 closed

[2020-07-10 14:16] ferdikoomen commented on #269
@thsorens @kobik Why can't you guys use the default OpenAPI spec for this?

You can define custom headers using the following spec:

[code]

This generated the following Typescript service call:

[code]

Cheers,

Ferdi

[2020-07-10 14:56] thsorens commented on #269
In our example we send in two tokens, on as access token and one for a given context. The openapi schema is autogenerated from a netcore api, so would be nice to avoid having to change rhe api

[2020-07-11 00:12] arabold opened #282 "Apparently no way of disabling `exportCore` and `exportServices` in command line"
I'm tried to use `openapi-typescript-codegen` from command line to generate only the models as I want to use a custom implementation for the requests themselves. So, I don't need `core` or `services`, just `models`.

However, passing `--exportCore false` or `--exportCore 0` or similar doesn't seem to work. It will still generate all files.

**Expected Behavior**
The following command should only g

[2020-07-15 22:33] #282 closed

[2020-07-15 22:33] ferdikoomen commented on #282
@arabold Uploaded a new version that fixed this issue: 0.4.8

[2020-07-17 11:18] Alex0007 opened #289 "Enum with `null` throws an error"
![image](https://user-images.githubusercontent.com/1143226/87780771-d251d400-c848-11ea-8762-b4fc1bbff2e9.png)
[code]

Link to example yaml: http://apidocs.beta.webdock.io/api-docs/webdock-v10.yaml

[2020-07-17 13:01] ferdikoomen commented on #289
Hi @Alex0007 im prompted for a username and password, can you send me the spec / yaml in a private message? Or share the details?

[2020-07-17 19:32] Alex0007 commented on #289
https://gist.githubusercontent.com/Alex0007/1da683e083950e71f04a513d11b20611/raw/2a4b9bce5c5807960244f794b0306a14cc2338c3/webdock.yaml

[2020-07-18 06:13] ferdikoomen commented on #289
Thanks @Alex0007, just downloaded the file, will investigate this tomorrow

[2020-07-23 02:32] iegik opened #297 "Type "integer" default value not converted properly"
Expect:

[code]

To be converted to:

[code]

But in result:

[code]

I think, `JSON.parse(default)` can resolve this

[2020-07-23 02:48] iegik opened #298 "Add --no-core flag to exclude core folder regeneration"
In most cases the changes will be in models, schemas, services folders only.
But core functions may differ from project to project.

So, nice to have some flag which disables core folder generation.

[2020-08-02 15:56] #289 closed

[2020-08-02 15:56] ferdikoomen commented on #289
Fixed, new build will be created end of day today

[2020-08-02 16:03] ferdikoomen commented on #298
Hi @iegik with the latest version you have working export properties:

[code]

[2020-08-02 16:04] ferdikoomen commented on #298
--exportCore
--exportServices
--exportModels
--exportSchemas

Allow for true and false parameters. Hope that helps

[2020-08-02 16:41] #297 closed

[2020-08-02 16:42] ferdikoomen commented on #297
Fixed, will be updated in version 0.4.9

[2020-08-03 11:39] andreujuanc opened #314 "Smart naming when generating services"
Hi,

I'm consuming an API that has this path: `/api/v1/management/organizations `

This generates a `OrganizationsService`, which is fine, but there is no mention of management, or even v1 anywhere.

If we assume that the service name should be whatever comes after `/api` We could get `V1ManagementOrganizationsService`

It's horrible, but it works.

Another option is to generate those services in

[2020-08-04 09:14] ferdikoomen commented on #314
Hi @andreujuanc the path indeed has not much to do with the generated Services. There are two properties in the OpenAPI spec that control the generated names, the **tags** and **operationId**:

[code]

So this would generate a `ManagementService.getAllOrganizations()` call. There is no double nesting possible. If you use .Net or Java, then the tags are your controllers and the operations your meth

[2020-08-04 09:46] andreujuanc commented on #314
Hi @ferdikoomen ,

Thanks for your quick response, very informative.

As of now, I have two projects, one of them we cannot make any change, so that's why I proposed the feature.
We also have this problem:

[code]

As you can see, the tag and operationId have redundant text, and it would be cool to "cancel them  out" .

So, for us the library works perfectly fine. We tested like 5 different client

[2020-08-04 09:51] ferdikoomen commented on #314
Let me check what is possible, we are supporting some "x-" type properties like "x-enum", these are properties we can use for extending the spec. We can do something like "x-service-name" or indeed maybe some extension to inject custom logic for certain area's of the generator, like the openapitscodegen.js you are proposing. I will have a look at the NSwag naming options, is the one you are lookin

[2020-08-04 09:59] andreujuanc commented on #314
We are using `MultipleClientsFromPathSegmentsOperationNameGenerator   `from https://github.com/RicoSuter/NSwag/blob/master/src/NSwag.CodeGeneration/OperationNameGenerators/MultipleClientsFromPathSegmentsOperationNameGenerator.cs

We tried it with TypescriptGenerator instead of C# one, but the generated code is too opinionated and did not fit with our project's dependencies.

[2020-08-05 13:49] lgazo opened #315 "path parameter in the service is not created, only referenced"
**Describe the bug**

Following method is generated as part of the `Service.ts` for an endpoint defined like this: `/manage/applications/{applicationId}/addons/{addonSystemKey}`. There are two path parameters. The snippet references variables but such variables are not present in the method signature.

[code]

[2020-08-05 14:02] ferdikoomen commented on #315
@lgazo Can you send me the spec file for this service? With this info it's hard to figure out whats going on

[2020-08-05 15:20] lgazo commented on #315
sry, here it is... I cannot share whole definition, this is the part

[code]

[2020-08-05 15:57] iegik commented on #298
Thanks

[2020-08-05 15:57] #298 closed

[2020-08-08 08:04] ferdikoomen commented on #315
@lgazo I just uploaded a new version with the fix (0.4.10). Parameters that where part of the path (not the operation) where indeed not added to the service, this is fixed now. You can update to the latest version, or make the parameters part of the operation for now. Cheers, Ferdi

[2020-08-08 08:05] #315 closed

[2020-08-09 08:10] lgazo commented on #315
I have tried it and it generates it correctly now. Thank you a lot.

[2020-08-11 22:57] trane opened #323 "Generated code does not compile"
**Describe the bug**
The templates reference types that are not imported which results in typescript complaining when using the generated code.

[code]

![Screen Shot 2020-08-11 at 3 51 24 PM](https://user-images.githubusercontent.com/36095/89956870-d88a6480-dbea-11ea-922b-ed446feb8c68.png)

You can see this in the code today: https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/s

[2020-08-12 17:49] ferdikoomen commented on #323
@trane Just for my info, what version of Node and Typescript are you using? The Header class is a default class for browser based Typescript projects (probably you will need to add "dom" in the lib section of your tsconfig)
[code]
But let me verify that.

[2020-08-12 17:56] ferdikoomen commented on #323
Are you building a node "backend" project or are you using this inside a browser based application? If its the last then you need the "dom" lib. Otherwise you might need something like https://www.npmjs.com/package/node-fetch as a polyfill... but let me know, maybe i can add some support for that.

[2020-08-12 19:15] trane commented on #323
Thank you for the info -- I am using this for a backend node project, so adding the `"dom"` lib indeed fixed the compile-time error!

Unfortunately, now I'm left with a runtime error.

[code]

Here are my versions:
Typescript version: `"typescript": "~3.9.7"`
node-fetch version: `"node-fetch": "~2.6.0"`
Node version: `v12.18.3`

Here is the code that I am using:

[code]

[2020-08-12 20:59] lgazo commented on #323
I've got bit further with this

[code]

but ended up with `TypeError: Right-hand side of 'instanceof' is not an object` at this line `if (options.body instanceof Blob) {`

[2020-08-12 21:42] trane commented on #323
That's amazing, I came here to put the exact same details! I also tried some ideas based on this documentation from `node-fetch`: https://github.com/node-fetch/node-fetch#interface-body
I tried setting `global.Blob` to `Buffer` and `Readable` -- both of which don't meet the requirements for `Blob`.

I then looked at the code that references `Blob` in `node-fetch`: https://github.com/node-fetch/nod

[2020-08-12 21:48] trane commented on #323
It appears that node doesn't have `Blob` -- it uses `Buffer`. I wonder if making some target platform available in the configuration could allow the template to decide to use `Buffer` if set to `node`.

[2020-08-14 13:18] Alex0007 opened #324 "Incorrect parsing of HTTP error responses with empty bodies"
[Reference](https://github.com/ferdikoomen/openapi-typescript-codegen/blob/60ae8a282cc992a224e870a15d4fca6ae875bbe4/src/templates/core/requestUsingFetch.ts#L21) to code

https://stackoverflow.com/questions/37280029/whatwg-fetch-fails-when-json-parsing-an-empty-response-how-can-i-prevent-it

Problem is: some API returns HTTP 401 Unauthorized with empty response body and `response.json()` throws an

[2020-08-16 11:27] jedzej opened #325 "Generated project fails to build in create-react-app project"
**Experienced behavior**

I generated types definitions with CLI `openapi --input ./api_spec.yaml --output ./openapi`, but it fails to compile in unejected react app created with create-react-app CLI.

There are 2 problems:

Compilation error due to  :
[code]

After commenting out reexported modules I encountered second problem:
[code]

**Expected behavior**

Generated code compiles properly witho

[2020-08-16 11:29] ferdikoomen commented on #325
@jedzej  I'll have a look at the first issue, but the second one is related to Babel, right now Babel does not support namespaces, so there is no way to use this library (see readme)

[2020-08-16 19:30] jedzej commented on #325
@ferdikoomen Thanks for fast reply. Is there any proposed solution to the babel problem? It looks like the namespacing issue it's deeply rooted in the library, since the error is in the core part, not in my models. How would you suggest overcoming it?

[2020-08-16 21:36] Alex0007 opened #326 "Prettier is not ignoring generated files"
This line making prettier to ignore _only_ next statement, not the whole file ([reference](https://prettier.io/docs/en/ignore.html#javascript))
[code]

And there is no actual single-line solution to ignore the whole file

[2020-08-16 21:55] sahanatroam opened #327 "string is generated as an interface"
**Describe the bug**
For some reason the following interface is generated when the command is run against the spec
[code]

[2020-08-17 21:55] sahanatroam commented on #327
hey @ferdikoomen do you have any updates on this ?

[2020-08-25 14:18] lcalisi opened #345 "Generating Enums inside of namespaces doesn't work, alternative method possible?"
Here is a hypothetical generated typescript generated code from your tool.

[code]

We realize this a known issue with Babel 7. However if the enum was generated this way then it works great with Babel 7.

[code]

Is there a reason why you chose to generate the code using the former method. Is it possible to add a flag to generate enums in the proposed style. The difference is the enum would appen

[2020-08-25 14:41] richgoldmd opened #346 "OpenAPIV3 - Description not emitted for model properties defined via $ref"
Thank you for a great bit of work!

In the case where the property of a model is defined directly:

[code]
The emitted code for the model includes the description as a comment:
[code]

However, when the property is defined via $ref, no comment is emitted:
[code]
where dateTime is defined:
[code]

The emitted code is:
[code]

I think I would expect the description from the references schema to appe

[2020-08-27 04:20] mayoyml commented on #269
@ferdikoomen Thank you so much for making such a nice library! For me,  not only header, but also would like to add [AbortSignal](https://developer.mozilla.org/en-US/docs/Web/API/AbortSignal) as well. This helps when you want to cancel the request while waiting. [Demo page](https://mdn.github.io/dom-examples/abort-api/) Thank you so much for your time 🙏

[2020-09-08 18:35] ilyaulyanov opened #358 "Support Axios as client"
**Describe the solution you'd like**
Currently, only XHR and Fetch are supported as clients. What would be required to add Axios as the request manager?

[2020-09-08 18:45] divyakarippath opened #359 "OpenAPI3: Support Reusable Request Bodies"
Thank you team for the great work!

OpenAPI 3.0 supports reusable request bodies as shown in the below example. Right now the generator does not support this.

[code]

https://swagger.io/docs/specification/describing-request-body/

[2020-09-08 20:31] ilyaulyanov commented on #345
Experiencing the same issue, but with `ErrorMessage` enum. I also use Babel 7. Removing namespace resolves the type-check issue

[2020-09-10 03:52] feirpri opened #360 "Support export RequestOptions"
**Describe the solution you'd like**
A clear and concise description of what you want to happen. Ideally with a small example of the proposed changes.
希望增加输出 RequestOptions, 比如：
export const AppRequestOptions = {
       url: '/api/v1/getApps',
}

这样可以使用这个数据，自己选择 ajax client 封装request实现

[2020-09-14 13:39] balazssoltesz commented on #327
same here

[2020-09-16 20:05] anilsehgal-onscale opened #365 "Support 'text/plain' in request body"
Nice gen. My requests are working great except those that have the body to be sent as text/plain.
[code]
This line in request.ts adds extra quotes to the body string.
Suggestion, something like this (maybe, works for my case):
[code]

[2020-09-17 13:35] KevinHerklotz opened #366 "Use union types instead of enums"
# Description

Instead of generating [enum types](https://www.typescriptlang.org/docs/handbook/enums.html) I would like to have an option to generate [union types](https://www.typescriptlang.org/docs/handbook/unions-and-intersections.html#union-types) instead.
If you like the idea **I am very happy to implement this** and create a PR.

# Example
YAML model:
[code]

## Current behaviour

### Genera

[2020-09-20 14:23] lazharichir commented on #358
Using this for my GraphQL gateway to call my backend REST microservices exposing their OpenAPI schema... and I'd also love to use `Axios`.

[2020-09-21 15:40] nandorojo commented on #366
Hey @KevinHerklotz, did you end up forking this to work with union types? I really need to use union types as well. I'd be happy to help with a PR.

[2020-09-22 07:17] ferdikoomen commented on #365
@anilsehgal-onscale Good idea, i've updated the code and will push a new version soon (0.5)

[2020-09-22 07:17] #365 closed

[2020-09-22 07:19] ferdikoomen commented on #360
Hi @feirpri The RequestOptions api is internal (and will always stay internal). You should be able to add all options through the Swagger / OpenAPI spec files (like the url example that you mention)

[2020-09-22 07:19] #360 closed

[2020-09-22 07:20] ferdikoomen commented on #359
@divyakarippath Good point, indeed i did not load the ref for the request body, let me check if this is easy to fix

[2020-09-22 07:24] ferdikoomen commented on #358
This generator will stay focussed on having minimal library dependencies. If you want to fork this and build support for Axios then please go ahead :-) Or you can use something like: https://github.com/anttiviljami/openapi-client-axios or

[2020-09-22 07:24] #358 closed

[2020-09-22 07:28] ferdikoomen commented on #327
@sahanatroam @balazssoltesz do you have a spec file where this happens? I'm not seeing this issue

[2020-09-22 07:29] ferdikoomen commented on #325
Related: https://github.com/ferdikoomen/openapi-typescript-codegen/issues/345

[2020-09-22 07:29] ferdikoomen commented on #345
Im closing this one, will continue in https://github.com/ferdikoomen/openapi-typescript-codegen/issues/345 to develop the babel compatible version of the generator

[2020-09-22 07:29] #345 closed

[2020-09-22 07:39] ferdikoomen commented on #346
@richgoldmd this is by (OpenAPI) design. If you would download one of the 'official' generators: https://repo1.maven.org/maven2/io/swagger/codegen/v3/swagger-codegen-cli/3.0.20/swagger-codegen-cli-3.0.20.jar

And run the generator on these examples:
`java -jar ./swagger-codegen-cli-v2.jar generate -i mySpec.json -l typescript-aurelia -o example`

Then you will see the same result: that the descrip

[2020-09-22 07:39] #346 closed

[2020-09-22 08:10] ferdikoomen commented on #366
@KevinHerklotz I'm removing an old command line option "--useUnionTypes" and will repurpose this for this new option where you can select if you want to use enums or unionTypes as properties.

[2020-09-22 12:06] KevinHerklotz commented on #366
Nice to hear. Well I already adapted it and have a local version running that seems to work. Let me write some tests and then I can create a PR. We can still discuss the wording of the option later. Or do want to remove "--useUnionTypes" soon @ferdikoomen?

[2020-09-22 20:24] ferdikoomen commented on #359
@divyakarippath I pushed a fix to the repository, will create a new version soon (0.5). Tomorrow I will fix a few more issues and then bundle this into the next release.

[2020-09-22 20:25] #359 closed

[2020-09-22 20:29] ferdikoomen commented on #324
Hi @Alex0007 there is a try catch around the parser logic:
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/src/templates/core/requestUsingFetch.ts#L14-L29

Plus we only call response.json() when the response headers indicate the content should be "application/json". If the backend returns an empty body, then probably the backend is a better place to fix this?

[2020-09-22 20:35] ferdikoomen commented on #257
@gazab Yes, i see the issue. Let me see if there is a nice way to implement this, but the documentation is pretty clear.

[2020-09-22 21:23] richgoldmd commented on #346
Thanks for the response, and for an excellent tool as well.

[2020-09-23 09:10] ferdikoomen commented on #366
@KevinHerklotz i have updated the documentation with the concept: https://github.com/ferdikoomen/openapi-typescript-codegen#enums-vs-union-types---useuniontypes
If you have a link to your branch then let me know, otherwise ill push some changes today.

[2020-09-23 09:13] ferdikoomen commented on #325
@jedzej @ilyaulyanov @lcalisi I will push the final fixes for babel support today, documentation has already been updated: https://github.com/ferdikoomen/openapi-typescript-codegen#babel-support
Once the new version is out (0.5) then you can use `--useUnionTypes` inside your babel project to generate a fully supported API. Will keep you posted.

[2020-09-23 13:30] KevinHerklotz commented on #366
Sure give me 30 minutes...

[2020-09-23 14:03] KevinHerklotz commented on #366
There you go: https://github.com/ferdikoomen/openapi-typescript-codegen/pull/372

[2020-09-23 14:07] nandorojo commented on #366
@ferdikoomen I believe there's a typo, it says `useOptions` in the readme.

[2020-09-23 14:32] maggo opened #373 "Lowercase PATCH methods are not fetch spec conform"
We're having an issue with `PATCH` requests in our application using the generated API functions. The request just fails with a `net::ERR_HTTP2_PROTOCOL_ERROR` error message.

After digging around a bit I found out that methods are defined as all-lowercase (probably as they're coming from openapi spec?), which works for all other methods thanks to normalization, but `patch` is exempt as per the fe

[2020-09-23 14:51] ferdikoomen commented on #373
@maggo Good catch, i never had issues with this, but indeed we use the request method as defined in the spec, but we can use the correct uppercase method when we request this using fetch. I'll update this and bundle it into the 0.5 release (next release that is coming up.

[2020-09-23 14:53] maggo commented on #373
Awesome, thank you!

[2020-09-23 21:50] divyakarippath commented on #359
Thank you @ferdikoomen .

[2020-09-27 07:28] kirillurazov opened #374 "Add --indent param for setting up indents in generated code"
How about to add settings param (e.g. console param --indent <value>) wich will setting up indents in generated code?

Not all users uses 4 spaces indents so will be very cool if we can to set indents.

P.S. sorry for my english 😅

[2020-09-27 07:57] ferdikoomen commented on #374
The code follows the prettier default guidelines: https://prettier.io/. My advice would be not to worry about indentation, there are more important things in life :-)

[2020-09-27 07:57] #374 closed

[2020-09-27 14:07] ferdikoomen commented on #373
@maggo there is a new version 0.5.0-alpha that should resolve this issue, if you have time them please do check. I'll also check this new build the next days, if all looks good I'll release the 0.5.0 version

[2020-09-27 14:08] ferdikoomen commented on #366
@KevinHerklotz @nandorojo there is a new version 0.5.0-alpha that should resolve this issue, if you have time them please do check. More info on the flag here: https://github.com/ferdikoomen/openapi-typescript-codegen#enums-vs-union-types---useuniontypes and https://github.com/ferdikoomen/openapi-typescript-codegen#babel-support

[2020-09-27 14:09] ferdikoomen commented on #325
@jedzej @ilyaulyanov @lcalisi there is a new version 0.5.0-alpha that should resolve this issue, if you have time them please do check. More info on the flag here: https://github.com/ferdikoomen/openapi-typescript-codegen#enums-vs-union-types---useuniontypes and https://github.com/ferdikoomen/openapi-typescript-codegen#babel-support

[2020-09-27 14:10] ferdikoomen commented on #323
@trane @lgazo there is a new version 0.5.0-alpha that should resolve this issue, there is now support for Node.js clients, more info here: https://github.com/ferdikoomen/openapi-typescript-codegen#nodejs-support

[2020-09-27 16:40] ferdikoomen commented on #373
0.5.0-beta ;-)

[2020-09-27 16:40] ferdikoomen commented on #366
0.5.0-beta ;-)

[2020-09-27 16:40] ferdikoomen commented on #325
0.5.0-beta ;-)

[2020-09-27 16:40] ferdikoomen commented on #323
0.5.0-beta ;-)

[2020-09-28 23:06] nandorojo commented on #366
Thanks for the great work.

[2020-09-29 08:59] maggo commented on #373
Had a look and it looks great :)

[2020-09-29 09:21] maggo opened #375 "[0.5.0-beta] "File" model name turns into "any""
I just tried the 0.5.0 beta and came across a generation bug where the `File` model name is turned into `any`. Typescript will complain about `Interface name cannot be 'any'`

Here's a minimum spec to reproduce the behavior:

[code]

[2020-09-29 09:22] ferdikoomen commented on #375
@maggo Yes i saw, i need to fix this for Node.js client + browser based clients (since Node.js does not know the concept of File / Blob)

[2020-09-29 09:27] maggo commented on #375
Nice, thanks for the quick reply! We currently have our own fork of your project with some changes, but will be able to switch to 0.5.0 once this is fixed :)

[2020-09-30 08:02] KevinHerklotz commented on #366
I just had some time to try it locally and it's working great! Thank you so much for it!

[2020-10-01 10:43] maggo commented on #375
Just built the latest master and everything seems to work! Would be great to get an npm release so we can test it in our project 🚀

[2020-10-02 04:22] philals commented on #325
Thanks @ferdikoomen 0.5.0-beta works and fixes this issue which I was having. Great stuff!

[2020-10-02 11:11] lcalisi commented on #325
Yes, we are also having good luck with the new beta.

[2020-10-02 22:10] nandorojo opened #376 "Fire promise globally before any request"
First off, thanks so much for this library. This is really helpful.

# Problem

I am currently using the `OpenAPI.TOKEN` syntax to set my auth token. This works well, but it isn't perfect for my use case. The reason is that my token is accessed asynchronously.

Ideally, I could wrap the `fetch` function used by this lib, such that it gets my token asynchronously before every call.

I'm using Fireb

[2020-10-03 08:57] ferdikoomen commented on #375
Thanks for testing. Just pushed 0.5.0 to NPM, closing this ticket.

[2020-10-03 08:57] #375 closed

[2020-10-03 08:57] ferdikoomen commented on #373
Thanks for testing. Just pushed 0.5.0 to NPM, closing this ticket.

[2020-10-03 08:57] #373 closed

[2020-10-03 08:57] ferdikoomen commented on #366
Thanks for testing. Just pushed 0.5.0 to NPM, closing this ticket.

[2020-10-03 08:57] #366 closed

[2020-10-03 08:58] ferdikoomen commented on #325
Thanks for testing. Just pushed 0.5.0 to NPM, closing this ticket.

[2020-10-03 08:58] #325 closed

[2020-10-03 08:58] ferdikoomen commented on #323
Just pushed 0.5.0 to NPM, closing this ticket.

[2020-10-03 08:58] #323 closed

[2020-10-03 12:23] nandorojo commented on #376
A simpler approach would be: let `OpenAPI.TOKEN` be either a string or an asynchronous function that returns a string.

[2020-10-06 12:06] RowanDZ opened #378 "Non primitives loose their meaning in schemas"
Openapi 3.0

First of all, nice generator. Models and ApiServices seem to work fine. But for the schemas, I do have some issues, and generating Schemas is something that is really beneficial, above others.

Here is an example:
![image](https://user-images.githubusercontent.com/8612920/95198509-a573e400-07db-11eb-9e3b-5952cb89a1bd.png)

The array is defined like:
[code]

Let's assume we use these s

[2020-10-06 12:30] RowanDZ opened #379 "No properties for schemas created for root components"
OpenAPI 3.0

This:
![image](https://user-images.githubusercontent.com/8612920/95201387-2a60fc80-07e0-11eb-9e51-90b23b65e7e0.png)

Generates:
![image](https://user-images.githubusercontent.com/8612920/95200967-8a0ad800-07df-11eb-8665-a80f326880e4.png)

![image](https://user-images.githubusercontent.com/8612920/95201056-ac9cf100-07df-11eb-8ccf-5881202d6785.png)

Hence:
- The SomethingElse schema is

[2020-10-06 14:33] budde377 opened #380 "Support x-nullable vendor extension"
**Describe the solution you'd like**
Since `nullable` isn't supported in OpenApi v2, some frameworks (e.g., [drf-yasg](https://drf-yasg.readthedocs.io/en/stable/)) are using the `x-nullable` vendor extension to indicate if e.g. property is nullable. I believe we should use this to mark a property as nullable:

The specification

[code]

should yield

[code]

[2020-10-10 21:41] mr-bjerre opened #382 "ESLint Parsing error: Declaration or statement expected"
I'm getting multiple linting errors from the script created by running

    npx openapi-typescript-codegen -i http://localhost:8080/openapi.json -o ./src/api

The first error I get is

[code]

I'm also getting `Parsing error: Declaration or statement expected` in VSCode when looking in `./src/api/index.ts` on the `export type` statements. I'm clueless whats actually the issue here?

[2020-10-13 09:24] #376 closed

[2020-10-13 09:25] ferdikoomen commented on #327
Closing this due to no response

[2020-10-13 09:25] #327 closed

[2020-10-13 09:25] ferdikoomen commented on #324
Closing this due to no response

[2020-10-13 09:25] #324 closed

[2020-10-13 09:44] ferdikoomen commented on #382
@mr-bjerre Can you check what typescript version you are using? We are supporting typescript 3.8... But if needed i can probably create some support for older versions.

[2020-10-13 09:51] ferdikoomen commented on #378
@RowanDZ The issue here are circular references. When we generate interfaces that have a circular reference:

[code]

This is fine, because interfaces are just 'synthetic sugar' and the compiler wont care about these circular references. However the Schema objects are real objects, so something like this:

[code]

...is invalid, because of the circular reference. May build tools will complain abou

[2020-10-13 10:02] RowanDZ commented on #378
Hi @ferdikoomen . Actually there are no circular references in the code.
What is your expected result for my example? And the array having no reference to an object, that should not be right?
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/src/templates/partials/schemaArray.hbs , here you see the template for it, it indeed only gives 'array', that's it.

[2020-10-13 10:05] ferdikoomen commented on #378
@RowanDZ I was talking about the last example you gave:

[code]

That `$Issue` is the problem with circular references (not in your specific example, but if we would use this generator on a larger project). But if we can start with specifying `array: true` and `type: 'Issue'` (as a string) then it would be fine. Would that work for you?

[2020-10-13 10:37] ferdikoomen commented on #380
@budde377 I merged the PR, 0.5.1 is available in NPM

[2020-10-13 10:37] #380 closed

[2020-10-13 10:46] budde377 commented on #380
Thank you for your quick response and great project! 🙏

[2020-10-13 10:52] RowanDZ commented on #378
I would say it would work, yes. Because then people can just do require or import * as .. and use the `'Issue'` as key.

[2020-10-13 12:28] mr-bjerre commented on #382
Oh my mistake. I was on 3.7 - updating now. Thanks

[2020-10-13 12:28] #382 closed

[2020-10-13 16:24] ferdikoomen commented on #378
Alright, let me see with i can do here @RowanDZ. Seems like a small change

[2020-10-13 16:30] ferdikoomen commented on #382
@mr-bjerre No problem, ill update the documentation to mention this.

[2020-10-14 01:22] patrikniebur commented on #141
+1 on this. Great project, thank you for doing this. Would like to use it in our workflow too but need support for allOf and oneOf

[2020-10-14 04:48] lukeautry opened #383 "Ship NPM package with typings"
I want to use this from a node.js client, but there's no type declaration shipped with the package and no @types package either.

[2020-10-14 08:21] ferdikoomen commented on #383
@lukeautry You meen using the generator itself in NodeJS? Or do you want to generate NodeJS compatible REST API client? If it's the first then sure, we can add some typings. If it's the last then just see: https://github.com/ferdikoomen/openapi-typescript-codegen#nodejs-support

[2020-10-14 08:25] RowanDZ commented on #378
Nice, thanks! Then we can automate input validations 👍

[2020-10-14 09:45] ferdikoomen commented on #383
@lukeautry I just added types: https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/types/index.d.ts, will be in the next release (0.5.2). Need to finalise some additional work for two tickets.

[2020-10-14 11:07] cpoliver opened #384 "at sign (@) causing compilation error in generated files"
When running the code generation script against a C# oData API, the properties preceded with an "@" are not properly quoted, and cause compilation errors.

Please see [this gist](https://gist.github.com/cpoliver/02a560ffd35810c1a6e8fd5bbe4b5b20) for an example of the output, and how I've manually fixed the issue, by quoting the properties beginning with an "@"

Screenshot of the error thrown when

[2020-10-14 11:27] ferdikoomen commented on #384
@cpoliver do you have a snippet of the spec that you are using? (or the whole spec if you are allowed to share that)?

[2020-10-14 11:33] cpoliver commented on #384
Hey @ferdikoomen thank you for the super fast response.

I've added reduced example of the paths object from the swagger api to the gist, [available to view here](https://gist.github.com/cpoliver/02a560ffd35810c1a6e8fd5bbe4b5b20#file-swagger_paths-json)

If you need more I can probably provide it, but hopefully this should cut out a lot of the noise. Let me know if you need any more info.

Also, h

[2020-10-14 12:05] RowanDZ opened #385 "Using `required` in a parent for a ref doesn't make it required"
Given the yaml OpenAPI 3.0:
[code]

This generates:
[code]

Expected is:
[code]

I hope this can be resolved!

[2020-10-14 13:29] RowanDZ commented on #385
I have to admit here:
The same happens to Java models made from the same spec (don't know the generator). Maybe it is something that is not according to spec, or the same core is used under the hood of both generators?

[2020-10-14 13:33] ferdikoomen commented on #385
This is expected. You are not specifying a property. So, the required does now know what it applies to. AllOf 'just' extends the model, but that is where the fun stops.

[2020-10-14 13:43] lukeautry commented on #383
I meant the generator itself. Looks great, thanks!

[2020-10-14 14:10] RowanDZ commented on #385
Hmm, limited fun then ;) Thanks for the quick response. Closing!

[2020-10-14 14:10] #385 closed

[2020-10-14 22:35] ferdikoomen commented on #383
@lukeautry pushed 0.5.2 to NPM that should have typings!

[2020-10-14 22:35] #383 closed

[2020-10-14 22:36] ferdikoomen commented on #384
@cpoliver I pushed 0.5.2 to NPM, can you check if this solves your issue?

[2020-10-15 06:19] cpoliver commented on #384
Hey @ferdikoomen - that is working like a charm now. Thank you for the quick fix 🙇

[2020-10-15 06:59] ferdikoomen commented on #384
👍🏻

[2020-10-15 06:59] #384 closed

[2020-10-15 07:04] cpoliver opened #386 "Content-Type Requires Splitting before Check"
The generated `getResponseBody()` function does not account for OData metadata values set in the Content-Type header.

This is defined in the [OData standard](http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Toc372793046) which is an ISO/IEC International Standard.

The example where I'm encountering this has the content-type followed by some additional in

[2020-10-15 11:25] ferdikoomen commented on #386
Oh my god, what are they doing with that poor header :-)
I'll have a quick look, you spit method makes sense, i was thinking we could also use `contentType.includes('application/json')` but maybe that is a bit tricky...

[2020-10-15 11:41] cpoliver commented on #386
Haha! You're right, I might have overengineered it, a simple `includes` or `startsWith` should suffice. Thanks again 👍

[2020-10-15 14:25] ferdikoomen commented on #386
@cpoliver i added a fix for this, i will push a 0.5.3 version in a bit, but want to fix a few small things as well and test the release.

[2020-10-15 15:12] ferdikoomen commented on #379
@RowanDZ Wow.. weirdly enough this did work for the V2 spec, but was missed in the V3 spec. It's fixed now, will push a change soon and publish 0.5.3 (hopefully including your other request)

[2020-10-15 15:14] ferdikoomen commented on #379
The pattern is correct i believe, scroll down to "pattern" here: https://swagger.io/docs/specification/data-models/data-types/. The example is: '^\d{3}-\d{2}-\d{4}$', you can plug that into a RegExp like: `new RegExp('^\d{3}-\d{2}-\d{4}$', 'g')`.

[2020-10-15 15:34] RowanDZ commented on #379
The problem is, that this string that is being produced, with a single backslash, doesn't work for RegExp. It needs to be espaced.
So or the generator need to make a regexp `/^\w+$/`, or a string with double backslash `"^\\w+$"`.
I would say the latter, so it's usable as a `pattern` html attribute too.

Plaatje bij het praatje:
![image](https://user-images.githubusercontent.com/8612920/96152257-a4

[2020-10-15 15:35] ferdikoomen commented on #379
@RowanDZ then you need to update the backend, the Swagger spec dictates the regexp should follow the regular expression syntax used is from JavaScript (more specifically, ECMA 262)

[2020-10-15 15:36] ferdikoomen commented on #379
oh wait sorry, now i get it! never mind i was reading the comments wrong!

[2020-10-15 15:37] ferdikoomen commented on #379
yes i will escape the "\"

[2020-10-15 15:42] ferdikoomen commented on #379
Im thinking that maybe exposing them as actual regexp makes sense... `/^\w+$/` if you want to change then (like make global or multiline then you can still do: `new RegExp(/^\w+$/, 'gm');`.

[2020-10-15 16:16] ferdikoomen commented on #378
@RowanDZ I got the following options:

### Option 1:

Schema for Array of booleans `Array<boolean>`
[code]
Schema for nested Array of booleans `Array<Array<boolean>`
[code]

### Option 2:

Schema for Array of booleans `Array<boolean>`
[code]
Schema for nested Array of booleans `Array<Array<boolean>`
[code]

preference?

[2020-10-15 16:31] ferdikoomen commented on #378
Im in favour of the last one, since it still has the correct 'type' the schema is an array, but inside the array there is another 'type'.

[2020-10-15 17:36] RowanDZ commented on #379
If it's like `pattern: /^\w+$/`, then you end up with an RegExp instance. Which can be fine, but if you want to use it in an html input, you need to do `toString()` first. And: if you call it pattern, it should be a pattern, not a regexp. I think it makes the most sense to keep it a string (escaped), so it stays close to the spec and people can do new RegExp(pattern) themselves?

[2020-10-15 17:40] RowanDZ commented on #378
Option 1, feels more straight forward
Option 2, like you said.

Your repo, pick one. :) I think I'm with you for the second one

Op do 15 okt. 2020 om 18:31 schreef Ferdi Koomen <notifications@github.com>:

[2020-10-15 17:43] ferdikoomen commented on #378
@RowanDZ Sure, but always good to have another opinion. I'm going for the second approach also for  @backwards compatibility, will push a new version soon (when the regexp stuff is fixed)

[2020-10-15 17:43] ferdikoomen commented on #379
Your 'its a pattern not a regexp' makes sense. And indeed its easier to use in form fields (the main use case anyway).

[2020-10-15 18:16] ferdikoomen commented on #386
Pushed 0.5.3 to NPM

[2020-10-15 18:16] #386 closed

[2020-10-15 18:16] ferdikoomen commented on #379
Pushed 0.5.3 to NPM

[2020-10-15 18:16] #379 closed

[2020-10-15 18:16] ferdikoomen commented on #378
Pushed 0.5.3 to NPM

[2020-10-15 18:16] #378 closed

[2020-10-16 09:19] ferdikoomen opened #387 "Improve maintainability score"
Improve maintainability score: https://codeclimate.com/github/ferdikoomen/openapi-typescript-codegen
- Removing duplicate files between V2 and V3 generator (possibly move then to a shared folder)
- Splitting up larger files into sub routines (parseModel for instance)

[2020-10-17 13:12] mrBrownys opened #388 "Add support for getting response headers and response body at the same time"
generated/request.ts

![Снимок экрана 2020-10-17 в 16 10 12](https://user-images.githubusercontent.com/71230349/96337953-683d0b00-1093-11eb-8322-241fb1d0900a.png)

[2020-10-17 13:21] mrBrownys opened #389 "Bug with FormData in generated code Illuminated in VSCode"
VSCode - latest
TS - 4.0.3

TSConfig.json

generated/core/request.ts

![Снимок экрана 2020-10-17 в 16 17 34](https://user-images.githubusercontent.com/71230349/96338126-b7377000-1094-11eb-9b3e-8aeae4e2d87b.png)

Troubleshooting suggestions:
![Снимок экрана 2020-10-17 в 16 29 04](https://user-images.githubusercontent.com/71230349/96338346-f914e600-1095-11eb-940f-307828a6b02f.png)

[2020-10-17 15:07] ferdikoomen commented on #388
@mrBrownys reason for this is that the OpenAPI doec allows you to get a response from a header OR from the body, but not both (if i'm not mistaken, unless you have a spec that has this?)

[2020-10-17 15:09] ferdikoomen commented on #389
@mrBrownys You will need to include the "dom" lib in your tsconfig, since FormData is a default browser class: `"lib": ["es6", "dom"],`. Unless you are building a NodeJS project, in that case: please read: https://github.com/ferdikoomen/openapi-typescript-codegen#nodejs-support

[2020-10-19 07:15] mrBrownys commented on #389
Yes, I am building a project for NodeJS. Following this instruction:
https://github.com/ferdikoomen/openapi-typescript-codegen#nodejs-support. I added build flag -c node and installed dependencies: @ types / node-fetch, node-fetch, form-data.
But TypeScript is throwing an error:

For this line of request.ts:
`const formData = new FormData();`
![Снимок экрана 2020-10-19 в 10 14 12](https://user-ima

[2020-10-19 09:19] mrBrownys commented on #388
@ferdikoomen you are right, I couldn't find an example either. But this happens sometimes in those places where you are unable to change the Open Api Description. What are your thoughts on accessing the original answer from fetch to get the headers manually?

[2020-10-19 10:37] ferdikoomen commented on #388
Well you need to define the spec to request the headers, if you want full access to the request and all the headers then it's probably easier to request all your stuff yourself and dont use this library. This hides a lot of this code and only focusses on the responses you should get based on the OpenAPI spec that you give it.

[2020-10-19 11:22] ferdikoomen commented on #389
Hi @mrBrownys there are some extensive tests with the generator and they all work with Typescript and NodeJS.The line `import * as FormData from 'form-data';` should be correct. `import FormData from 'form-data';` is only allowed if allowSyntheticDefaultImports is enabled in tsconfig. Or maybe this works because esModuleInterop is enabled? Not sure. I see there are a lot of options in your tsconfi

[2020-10-19 11:23] thetrime commented on #141
I've noticed that https://github.com/diverta/kuroco-sdk/blob/master/src/generator/openApi/v3/parser/getModel.ts implements this, though it's not completely clear that this was the first project to do so. Patching it in to this repo gives me the results I'd expect to see (though I had to also add es2019 to the lib section of tsconfig.json so I could get things like Array.flat). I'll see if I can tr

[2020-10-19 11:40] mrBrownys commented on #388
@ferdikoomen You are right, I am closing the issue. Thanks for answers.

[2020-10-19 11:40] #388 closed

[2020-10-19 14:35] yanivbeaudoin opened #390 "Enable different template for services generation"
Hey!

First, thank you for your work on the repo, it's very useful!

One thing that doesn't work for me is the way that the service fill is organized.
I use react-query so I prefer the output of the generator to generate hooks as react-query suggests to.
Of course that not everybody that will use the generator will use react query.
So what I suggest to add some way to use the parser without using

[2020-10-19 15:23] ferdikoomen commented on #390
@yanivbeaudoin There is no way (yet) to provide these templates or write your own services. But can't you do this in ReactQuery:
[code]
Where MyService.getAllTodos would be the calls generated by the client?

[2020-10-20 14:14] 0xorial commented on #387
Somewhat related - are tests supposed to work? I got following with `yarn test`:
[code]

[2020-10-20 15:51] ferdikoomen commented on #387
Should work indeed :-) https://travis-ci.org/github/ferdikoomen/openapi-typescript-codegen

[2020-10-23 06:40] thetrime commented on #141
It looks like diverta really did come up with that change first. Are you interested in a PR if I tidy it up to keep it ES2017?

[2020-10-26 13:53] ferdikoomen commented on #141
@thetrime Sure! sounds like a great idea!

[2020-10-27 16:29] NicoVogel opened #396 "Optional flag which changes string to date in case of format data-time or date"
In the project I am working on, we use openapi v3.
The schema contains objects which use the type `string` with the format `date-time`.

example:

[code]

We did not want to convert the date everytime and therefore we created a middleware for the server and client-side that automatically converts it from `string` to `Date`.
When creating the models via the `openapi-typescript-gencode` tool, the ou

[2020-10-28 01:30] fnky opened #397 "Incorrectly generates types and filenames starting with numbers"
Running codegen with [this schema](https://gist.githubusercontent.com/ioggstream/f4583730eb7d4e264ba1270727b2f91b/raw/954ae7d47183aa118bfc5465887e8373c3de6483/psd2-api-1.3.3) will create some models with exported types like `001.ts`, `052.ts`, etc. which results in syntax errors.

These types are defined by components with names that are separated by a period (`.`) and has segments starting with n

[2020-10-28 01:33] fnky opened #398 "Dashes are not converted correctly"
Running codegen against [this schema](https://gist.githubusercontent.com/ioggstream/f4583730eb7d4e264ba1270727b2f91b/raw/954ae7d47183aa118bfc5465887e8373c3de6483/psd2-api-1.3.3) produces a type for `periodicPaymentInitiation_xml-Part2-standingorderType_json`, but doesn't correctly convert the dashes (`-`) into valid type name, causing syntax errors.

[2020-10-28 08:54] thetrime commented on #141
Ok, see https://github.com/ferdikoomen/openapi-typescript-codegen/pull/399

[2020-10-28 10:32] nils4cosee opened #400 "Support for custom request-function"
**Describe the solution you'd like**
In our last project, we have used a custom axios setup to access the backend. One thing that would not have been possible with "openapi-typescript-codegen" is the axios-interceptor that retrieves the the current language settings from "i18next" and adds a query parameter to the outgoing request. It was very convenient to do it this way, because from that point

[2020-10-28 13:54] nandorojo opened #401 "Add custom headers"
It would be nice to be able to add custom headers to a request. This is already possible with `TOKEN`, so headers would be a nice addition.

[code]

[2020-10-28 22:51] NicoVogel commented on #396
I was actually able to implement it by simply passing a new flag into the handlebars and implementing the logic within the interface file ([as can be seen here](https://github.com/NicoVogel/openapi-typescript-codegen/blob/9ec2cd89aacba2451df72141b9a9e89a797d15ea/src/templates/partials/exportInterface.hbs#L13)).

Even though the code works, I am sure you would not merge such a solution. I will try

[2020-10-29 14:27] ZakharDolozhevskiy opened #402 "Add support for custom templates"
Hello,

I have started to use a generator and found it impossible to change predefined templates. My particular case is to tweak a bit services template to change parameters structure and convert to simple functions instead of the class instance with methods

Idea:

As you probably know [openapi-generator](https://github.com/OpenAPITools/openapi-generator) has customization for templates and they

[2020-10-31 21:16] ferdikoomen commented on #402
@ZakharDolozhevskiy The idea behind this generator is to have a strict use case, in case you want to use custom templates, then the Java based codegen is a better alternative for these advanced use-cases https://openapi-generator.tech/docs/templating/

[2020-10-31 21:16] #402 closed

[2020-10-31 21:21] ferdikoomen commented on #401
@nandorojo You can add these headers in the OpenAPI spec: https://swagger.io/specification/#header-object. In case you want so use them every time, then maybe a lightweight wrapper would be an idea? Reason for this strictness is: If we do this for (default) headers, then we should also do this for (default) parameters or (default) cookies. And this is not the role of the client generator.

[2020-10-31 21:21] #401 closed

[2020-10-31 21:36] ferdikoomen commented on #400
@nils4cosee The reason there is no 'requestFunction' is because the generator support fetch and XHR and both have quite different API options. The reason for supporting only these options is because this needs to be a lightweight 'no-libraries / no-dependencies' client. I get the idea of changing internals or creating these 'callbacks' (its been requested before), but for these advanced use cases

[2020-10-31 21:39] ferdikoomen commented on #398
@fnky I'm investigating this now. Will get back shortly

[2020-10-31 21:39] ferdikoomen commented on #397
@fnky I'm investigating this now. Will get back shortly

[2020-11-01 09:13] ferdikoomen commented on #398
@fnky Nice spec BTW :-) I fixed the issues, you can use the new 0.5.4 version and then everything should be fine again.

[2020-11-01 09:13] ferdikoomen commented on #397
@fnky Nice spec BTW :-) I fixed the issues, you can use the new 0.5.4 version and then everything should be fine again.

[2020-11-01 09:13] #398 closed

[2020-11-01 09:14] #397 closed

[2020-11-01 12:41] fnky commented on #398
Great! Thanks for the quick reply :-)

[2020-11-01 12:41] fnky commented on #397
Great! Thanks for the quick reply :-)

[2020-11-02 08:47] nils4cosee commented on #400
I have had a look at the swagger-spec of our API again. The query-param is currently not part of all endpoints. This is mainly, because we auto-generate the spec from the Spring-Boot endpoints and the query-parameter is processed in a Filter before the Controller classes are invoked. Since the parameter is universal, I would like to treat it in a universal fashion in the frontend as well. And I re

[2020-11-05 08:11] rattkin opened #408 "model type does not use component name"
I have this openapi:
[code]

And this is the generated model string.ts:
[code]

Besides being nonsensical, it also can not by compiled by typescript with error message:
`error TS2457: Type alias name cannot be 'string'.`

As a side note, ng-openapi-gen package does it IMHO correctly:
[code]

[2020-11-05 08:14] rattkin commented on #408
the problem disappears when i rename the schema name Date to something else. (lowercase date also has this problem)

[2020-11-05 09:29] rattkin commented on #408
I realize having schema name same as a type name is a bad idea and I changed our api spec. However naming it 'number' generates correctly.

[2020-11-05 13:30] thetrime opened #409 "If useOptions is on, tsdoc for params to functions is not quite correct"
Currently if useOptions is on, the output looks like

[code]

This isn't quite right - there aren't actually 3 parameters anymore, there is only one. VS Code does not show the descriptions for the parameters in the right place either.

Instead, I think tsdoc expects us to have

[code]

if we do this, VS Code shows the descriptions of the field in the autocomplete box as you would expect

[2020-11-05 20:14] NicoVogel commented on #396
Finally, I had time to implement the feature outside of hbs ([as can be seen here](https://github.com/NicoVogel/openapi-typescript-codegen/blob/option/before-hbs/src/utils/writeClientModels.ts)).
I also intent to implement some tests.

[2020-11-06 12:06] rattkin commented on #389
I seem to have the same problem. disabling it allows to compile. however vscode still complains that error TS2351: This expression is not constructable.

[2020-11-06 12:33] rattkin commented on #389
our app compiles without esModuleInterop , but doesn't work.
i have to abandon generated client

[2020-11-06 17:55] yordis commented on #314
`x-service-name: string[]` is what we used in the past.

[2020-11-06 20:02] mrBrownys commented on #389
@rattkin I followed the advice and disabled allowSyntheticDefaultImports, but I agree the moment is unpleasant

[2020-11-07 13:03] cobraz opened #411 "Authorization header instead of `Bearer`"
Thank you so much for this library 🙏 I come from Swagger/OpenAPI Codegenerator, and this is so much better! ❤️

I see that many users are requesting the ability to add headers. Myself, I am looking for a way to apply `Basic` auth. Right now, I am adding that functionality by editing `core/OpenAPI.ts` and `core/request.ts`. This is making me unable to generate freely.

In my implementation, I am re

[2020-11-10 16:49] budde377 opened #420 "Improve support for `anyOf`, `oneOf`, and `allOf`"
**Describe the solution you'd like**
The current implementation only supports `xOf` of references.

This PR (#419) adds support for not only directories but other types as well using TypeScripts union an intersection.

[2020-11-12 15:58] Tamno commented on #396
I would also like to have this feature. It would be interesting to merge that.

[2020-11-12 17:01] NicoVogel commented on #396
I have not had time yet to implement the tests.
Maybe next week.

[2020-11-15 09:43] ferdikoomen commented on #389
I will put the import to import FormData from 'form-data'; and put a note that you will need allowSyntheticDefaultImports, that seems like a sensible default

[2020-11-15 09:48] #389 closed

[2020-11-15 09:49] ferdikoomen commented on #390
Closing this due to no response

[2020-11-15 09:49] #390 closed

[2020-11-15 11:08] #411 closed

[2020-11-15 11:10] ferdikoomen commented on #411
@cobraz There will be a next version uploaded to nexus soon. I have fixed the deletion of core files (and other). Plus added properties for USERNAME and PASSWORD, plus the ability to set customer (default) HEADERS for each request. is you specify the username and password then the correct authorisation header is set

[2020-11-15 11:12] ferdikoomen commented on #411
The new version will be: 0.6.0, but need to fix a few more issues today before i will push that

[2020-11-15 11:14] ferdikoomen commented on #269
@thsorens @mayoyml I will push a new version soon that has support for custom headers (via OpenAPI.HEADERS object). The code is already in the master branch. @mayoyml The AbortSignal will not be implemented since its to much client specific, we support fetch, xhr and node-fetch and only one of those has the AbortSignal.

[2020-11-15 11:14] #269 closed

[2020-11-15 11:14] ferdikoomen commented on #269
The new version will be 0.6.0, will need to fix a few more bugs today and after that i'll push it to NPM

[2020-11-15 11:20] ferdikoomen commented on #396
@NicoVogel Sounds interesting, i know that at my current project we are also using this formatting. However the issue i see is: How do we convert back the date to a string (when we for instance send the model back to the server). The exact date-time format is not strictly specified in the spec as far as i know, but some API's need a specific string notation:
https://swagger.io/docs/specification/d

[2020-11-15 11:36] ferdikoomen commented on #409
@thetrime I merged your PR, i will upload a new version soon: 0.6.0 with some other fixes as well

[2020-11-15 11:36] #409 closed

[2020-11-15 11:45] ferdikoomen commented on #408
@rattkin I'll fix the issue, but keep in mind that a model called Date will conflict with the default Date class in Javascript.. So it might not be very developer friendly. And if Date is a string, why does the REST API not simply define date fields as string, rather then exposing a type-only model called Date? Anyway, that is a different discussion. I'll push a fix soon and upload a new version:

[2020-11-15 12:05] #408 closed

[2020-11-15 14:20] mrBrownys commented on #389
really cool news, thanks! 🦾🔝

[2020-11-16 09:00] rattkin commented on #408
Thank you!

[2020-11-16 11:27] NicoVogel commented on #396
@ferdikoomen I did not consider this point, because the conversion was done automatically from the frameworks used. In my case Angular and Express.
Also we only used `date-time` until now, therefore I did not notice the issue yet. I also imagine that `date` could be problematic, because the interceptors have no way of knowing weather a JS `Date` should be converted a string with the `date` or `dat

[2020-11-16 14:35] NicoVogel commented on #396
As far as I am concerned, `date-time` is pretty much strict.
The only non strict information would be that the separator `T` can be upper or lower case (same goes for `Z`).
Maybe I misunderstand this, but it does not seem like a problem to me.

Here is a similar interceptor which we also use: [AngularRxJs5DateHttpInterceptor.ts](https://gist.github.com/martinobordin/39bb1fe3400a29c1078dec00ff76bba

[2020-11-16 14:47] yordis opened #427 "Improve build tool"
Would love to leverage the internal code for generating the TypeScript types for an alternative code-gen tool: https://github.com/straw-hat-team/openapi-web-sdk-generator. You have done an amazing job generating the TypeScript types and took some decisions around some metadata.

Fundamentally both tools do the same, different solutions when it comes to generating clients. I tried to leverage your

[2020-11-16 21:54] ferdikoomen commented on #427
@yordis the goals of this library is a fast and zero config OpenAPI client generation. This is largely done by pre-processing all Handlebar templates and making sure the dependency load in NodeJS is kept to a minimum. This is why there is just one file with a bunch of jiberish :-) but on large projects this generation speed is a huge timesaver (specially if you generate stuff during a build step).

[2020-11-17 02:42] ferdikoomen commented on #427
Btw you can use the library inside NodeJS like any other. The Node API also gives you the option to just generate specific parts

,,,
const path = require('path');
const openapi = require('openapi-typescript-codegen');

const spec = {
  // your spec
};

openapi.generate({
  input: spec,
  output: path.resolve(__dirname, 'generated'),
  exportCore: false,
  exportServices: true,
  // etc...
});

Yo

[2020-11-17 17:32] yordis commented on #427
But it is Java 😅

@ferdikoomen some of my generations deviate from this one, my goal is pretty much the same, just that we have two different routes to generate the clients, folders, and what have you.

Here are some core things that the package does differently from others

- Operations are organized per file and each operation is a function (tree-shaking friendly)
- We use `x-directories` to org

[2020-11-17 18:42] ferdikoomen commented on #420
@budde377 cool thanks! Right now there are two PR's:
https://github.com/ferdikoomen/openapi-typescript-codegen/pull/419
https://github.com/ferdikoomen/openapi-typescript-codegen/pull/399
Let me check how they can be combined :-)

[2020-11-17 19:29] cobraz opened #428 "Use without global variables"
Hello,

I realize after using this library that using global variables is suboptimal for what I'm using it for.

In my case, I have a Node.js application. I need to run multiple processes with different auth (API tokens) for each, and having a global scope would limit my performance quite a bit (i have to run all in sequence to make sure that the right token is used for the request).

For quite so

[2020-11-17 19:31] cobraz commented on #428
Actually, you could probably introduce some configuration, not just auth, as such:

[code]

[2020-11-18 04:42] Alex0007 opened #429 "Ability to set "global" headers on client generation"
![image](https://user-images.githubusercontent.com/1143226/99484399-25b46a00-2982-11eb-9baf-4ba300cc5f67.png)

I want to specify some "global" headers to pass package version to API (for example `X-Client` header)
I have [implemented](https://github.com/Alex0007/openapi-typescript-codegen/commit/fb6d48bda9ad0509d71f68b3c44927c9d48a9c9c) this functionality in my fork (but now it's too outdated comp

[2020-11-18 05:02] crizo23 opened #430 "Error running openapi when OAS "info" missing"
This is more of a user error, but perhaps the error reported could be better. When my OAS spec is missing the `info` object, I get:
[code]

With some OAS codegen libraries one of the first things done is to validate the spec (using [oas-validator](https://www.npmjs.com/package/oas-validator), for example) and return an "invalid spec" error if it's invalid. Would this be possible?

[2020-11-18 16:18] crizo23 opened #431 "Add ability/config to generate Service classes as interfaces"
First off, let me say how great this library is. We've heavily researched/implemented similar libraries such as `swagger-to-ts` and `dtsgenerator`. There are features in this library that would justify a switch.

Our use case is a bit different though; we're writing server side endpoints that auto-wire these controller/service classes automatically in a KOA framework. From the server-side perspect

[2020-11-18 17:01] stefanprobst opened #432 "required and readyOnly/writeOnly properties"
hi, i'm curious how this library handles the contextual behavior of `required` properties interacting with `readOnly`/`writeOnly`?

from [https://swagger.io/specification](https://swagger.io/specification/#fixed-fields-20)
- "If the property is marked as readOnly being true and is in the required list, the required will take effect on the response only."
- "If the property is marked as writeOnly b

[2020-11-18 19:19] ferdikoomen commented on #432
@stefanprobst you might be right, it could be that this is not taken into account

[2020-11-18 19:31] ferdikoomen commented on #431
@crizo23 i'm not following you :-) You want to make the service class interface and implement the service implementation yourself? You can use `--exportServices false` and just write your own? That is the best i can offer you for now.

[2020-11-18 19:58] ferdikoomen commented on #387
Closing this, will do a rewrite at some point, but will create a few architectural ideas first

[2020-11-18 19:58] #387 closed

[2020-11-18 21:23] crizo23 commented on #431
Yes, exactly, I'd like the config option to do the implementation myself. We have an OAS framework that uses koa-oas3 to wire up routes per OAS operation endpoint.

For example, consider the `ComplexTypes` operationId with tag `Complex` in your[ test spec](https://github.com/ferdikoomen/openapi-typescript-codegen/blob/bd495d39c94fcbe885fb358b4e26496fb29261ca/test/spec/v3.json#L900). Your library w

[2020-11-18 23:01] ferdikoomen commented on #420
Closing this on and will continue in this thread: https://github.com/ferdikoomen/openapi-typescript-codegen/issues/141

[2020-11-18 23:01] #420 closed

[2020-11-18 23:03] ferdikoomen commented on #141
Pushed 0.7.0-beta to NPM, thanks everybody for the input and specially @budde377 for the PR. Lets test the changes and see if they are working well.

[2020-11-20 07:33] ferdikoomen commented on #396
@NicoVogel let me have a look at some other production samples and get back to you. If date-time is indeed standard then that would be nice to auto-convert 🙂

[2020-11-20 13:46] natepappenhagen commented on #314
@ferdikoomen
Came here to say I would _really_ like this feature. I've built some custom-generators using the openAPI library and it was super easy to just extend the SpringCodeGen and write some custom normalization logic for my method names. It's a game changer for me.

[2020-11-20 21:36] MikeYermolayev opened #435 "e.replace is not a function"
**Describe the bug**
Hi, I'm trying to use this codegen with Discourse openapi.json file (https://docs.discourse.org/) but what I get is this error:

![image](https://user-images.githubusercontent.com/8783498/99852173-7ea61d00-2b91-11eb-9059-690a641992eb.png)

Any ideas what's wrong? Thanks in advance

[2020-11-21 07:12] Nixes opened #436 "index.ts exports can have naming collisions when model name ends in 'Service'"
**Describe the bug**
The list of index.ts exports can have naming collisions when a model name also ends in 'Service'.
This results in a Typescript compile error of "Error: TS2300: Duplicate identifier 'ActiveService '."

Solutions I can think of that might prevent this:
- 'Service' could be postfixed to the name of the Service even if it already contains the word 'Service'. In this case maybe Act

[2020-11-21 08:35] MikeYermolayev commented on #435
Hm, looks like I've found the problem.

The problem occurs because this openapi file doesn't describe schema for parameters. It describes it as:

"/c/{id}.json": {
      "get": {
        "description": "Get a list of topics in the specified category\n",
        "tags": ["Categories"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": tr

[2020-11-22 07:22] yordis opened #437 "Add definition for all components"
**Describe the solution you'd like**
As of today, the package only generate types for `schemas` but they are missing some other types:

- [x] schemas
- [ ] responses
- [ ] parameters
- [ ] requestBodies

[2020-11-22 20:04] NicoVogel commented on #396
@ferdikoomen here a list of some frameworks and there conversion:

**Express**

Express is using `JSON.stringify` in case of `res.json` ([source](https://github.com/expressjs/express/issues/2792#issuecomment-153562157)) and this is converting a Date via the `toISOString()` function ([source](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify))

**Fastif

[2020-11-22 20:26] NicoVogel commented on #396
@ferdikoomen here a the list for the frontends:

**Angular**

uses `JSON.stringify()` ([source](https://github.com/angular/angular/blob/3e1e5a15ba1d5a08daf9179083e3394df10299bb/packages/common/http/src/request.ts#L257))

**axios**

uses `JSON.stringify()` ([source](https://github.com/axios/axios/blob/b7e954eba3911874575ed241ec2ec38ff8af21bb/lib/defaults.js#L52))

**fetch**

has no automatic parsin

[2020-11-24 19:28] ferdikoomen commented on #437
Reponses, parameters and requestBodies are all in the services @yordis

[2020-11-24 20:39] yordis commented on #437
@ferdikoomen what I am trying to say is that we import those types from the services files so you can tell what types are shared.

Unless I am misunderstanding what you mean.

[2020-11-26 14:55] mvasin opened #450 "What's the difference between --exportSchemas and just using the spec object?"
Hi @ferdikoomen!

Quick question: is there a difference between the `--exportSchemas` output and grabbing that data from the spec object directly? If not, can we add to the readme the phrase "...alternatively, you can extract that data from the spec object directly". And, by the way, would using directly mean converting it with the `yaml` library and exporting the result as an object, or will the

[2020-11-27 15:54] raman-savitski opened #451 "Backquote/backtick symbol (`) is not escaped correctly."
Backtick symbol in service description is not being escaped correctly. As result -> invalid TS is generated.

[code]

**\`userId\`**   should be   **\\\`userId\\\`**

[2020-11-28 09:18] #451 closed

[2020-11-28 09:26] ferdikoomen commented on #450
@mvasin Yes, you can definitely do that, but the spec also contains all the service layer definitions. The idea behind the schemas is to have a 'standard' way to iterate over the model properties that are very close to what is generated. But indeed, you can include the whole spec and do the same.

[2020-11-28 09:26] ferdikoomen commented on #141
Fixed a minor issue, will release the 0.7.0 version today.

[2020-11-28 09:26] #141 closed

[2020-11-28 09:30] ferdikoomen commented on #396
@Nico i've added this to the roadmap, seems like a feature that is worth investigation!

[2020-11-28 09:34] ferdikoomen commented on #428
@cobraz If you generate two OpenAPI clients and use a default (webpack, parcel, rollup) bundler then each client can have its own module scope. I will attach an example of the setup in the ticket. This is a much neater setup then exposing classes for this, otherwise you will need to pass around this MyApi class everywhere.

[2020-11-28 09:35] ferdikoomen commented on #430
@crizo23 i added it to the roadmap, im working on a @next version that has a better error messages

[2020-11-28 09:40] ferdikoomen commented on #431
@crizo23 thanks, i think i got the general idea. So instead of exporting this:

[code]

You would just like an interface like:

[code]
And we can export that using `--exportServiceInterface`, correct?

[2020-11-28 09:41] ferdikoomen commented on #435
@MikeYermolayev Indeed, im working on the @next version of the library that will have the option to validate the spec before parsing it, this will help in these cases.

[2020-11-28 09:41] #435 closed

[2020-11-28 09:42] ferdikoomen commented on #436
@Nixes Makes sense, im thinking about dropping the PostFixes actually, since i've seen a few places where this goes wrong. Or have the ability to overwrite them somehow. I've put this on the roadmap for the @next version

[2020-11-28 09:43] ferdikoomen commented on #437
@yordis Sorry i did get what you meant, but its clear now. I added the story to the roadmap, i'm working on the @next version and will include the shared definitions from the different locations

[2020-11-28 10:06] mvasin commented on #450
I'm missing some context - what is the service layer, and what are service layer definitions?

[2020-11-28 13:37] Nixes commented on #436
I think it make sense to have postfixes in codegen, but probably the code that generates the the postfixed name needs to be updated to not check if it is already added, so that at least ''ActiveServiceService' is generated instead of the conflicting name

[2020-11-28 16:21] mvasin opened #453 "Describing an expected use case of the library"
The OpenAPI is the specification that "defines a standard, language-agnostic interface to RESTful APIs" (quoting the spec itself). So we're supposed to deal with RESTful APIs, not just an API that uses HTTP as a transport.

[According to the author](https://roy.gbiv.com/untangled/2008/rest-apis-must-be-hypertext-driven) of the REST as a concept,

That means if we're dealing with truly RESTful APIs

[2020-11-29 10:15] roman-savitski opened #454 "Add files support to $ref"
Not sure whether this is not working or I'm doing something wrong. But if my $ref points to another file - result interfaces generated incorrectly.

Example:
**_api.yaml_**
[code]

**_api-model.yaml_**
[code]

I run `openapi --input api.yaml --output ./dist`

As result I'm getting `./dist/models/MyModel.ts`
[code]

There is no `api_model_yaml` obviously. So idea of keeping models in separate files

[2020-11-30 17:29] crizo23 commented on #431
@ferdikoomen yes, you have it exactly right. Thanks for considering!

[2020-11-30 19:46] ferdikoomen commented on #454
@raman-savitski there was already a question / PR with the same: https://github.com/ferdikoomen/openapi-typescript-codegen/pull/433 In that PR i mentioned that I'm working on some core rewrites, the resolving / bundeling logic is indeed nice to add. I am creating a page now with some goals for the next release

[2020-11-30 20:45] ferdikoomen commented on #453
@mvasin Yes, Roy Fielding has a good point: When designing and building 'true' REST(ful) API's we should not care about 'types'. Instead it's all about defining logical routes (resource identifiers), using standards that are already there (GET/PUT/POST/DELETE in case of a HTTP endpoint), creating something that is completely stateless and has stuff like hateoas links to define relationships in you

[2020-12-01 12:59] mvasin commented on #453
Thank you for the detailed answer, Ferdi!

The text below is a bit verbose because it's thinking out loud. But hopefully you will distill the point :)

First, on URLs. Roy Fielding says in the article:

This seems to be the complete opposite of what OpenAPI aims for.

Ray goes on with

Where in our case the out-of-band information he is referring to is the `/paths` property in the spec. As far as

[2020-12-02 07:30] jesperkristensen opened #464 "Duplicate identifier for parameters with the same name but different location/in"
I am using an OpenAPI v3 spec generated by NSwag where the Parameters Object of one of the Operations has two parameters with the same name, but with different Locations ("in": "query" vs. "in": "path")

According to the spec, this should be valid: "A unique parameter is defined by a combination of a name and location."

When I generate code for this spec, the code has a typescript error "error TS

[2020-12-02 08:08] jesperkristensen opened #465 "Option to dependency inject the request function"
I would like to have an option to dependency inject the request function in each operation, such that the services don't have a dependency on the core modules, and so that `--exportCore false` will produce typescript code that compiles.

For example:
[code]

Use case 1:

I consume multiple OpenAPIs from multiple different microservices. I need to make modifications to the core request module to ma

[2020-12-09 09:48] EqualMa opened #475 "OpenAPI.WITH_CREDENTIALS is no longer respected when http client is fetch or node-fetch"
**Describe the bug**

In #256 , requesting with `fetch` respects `OpenAPI.WITH_CREDENTIALS`:

https://github.com/ferdikoomen/openapi-typescript-codegen/blob/c9b232e5afa4775effd696e84725f001d0cd9cc2/src/templates/core/request.ts#L37-L42

But this is no longer available in current version. The above code can no longer be found in current version of [`fetch/sendRequest`](https://github.com/ferdikoome

[2020-12-10 17:13] iansan5653 opened #477 "Fetch request is always sent with Accept: application/json header"
**Describe the bug**
I have an API that has some JSON endpoints and some file  endpoints (media type `application/octet-stream`). The generated code works for the JSON endpoints, but for the file endpoints the server returns `406` because the code always sends the request with header `Accept: application/json`.

If there is no `200` response described with media type `application/json`, the genera

[2020-12-10 17:37] iansan5653 commented on #477
I was able to work around this by setting the `HEADERS` config to `{"Accept": ""}`.

[2020-12-11 00:31] markygab opened #478 "Generating types with fixed enum values"
I have a few types which reference the same enum. Some of the types are restricted to have only a single value from the enum, but i'm not sure how to define this.. Currently, it is generating invalid TypeScript from valid yaml.

I think the TypeScript output I expect is:

[code]

And the Yaml I have is:
[code]

but this is generating

[code]

[2020-12-14 15:49] iansan5653 commented on #465
I would love to see this as well. Currently we are using a Proxy to wrap each service and intercept every API method call in order to add logging and loading state tracking. It would be much cleaner if we could build a central request service that we inject into every API service that handles the requesting, logging, and tracking. It would also be a lot easier to test as we could just inject a fak

[2020-12-14 16:21] iansan5653 commented on #465
@ferdikoomen I might be able to work on a PR for this if you approve of the idea.

[2020-12-15 03:46] leohxj commented on #432
"If the property is marked as readOnly being true and is in the required list, the required will take effect on the response only."

So here is a bug now, we generated readOnly+required field as required in requestBody. ：）

[2020-12-16 15:05] iansan5653 opened #490 "Service method JSDoc uses non-standard @result tag instead of standard @returns/@return"
**Describe the bug**
This is a pretty minor thing, but the standard JSDoc tag for describing return values is `@return` (or `@returns`). The generated code uses `@result`, which I assume is intended to describe the resolved value of the returned promise, but this is not a standard tag and isn't handled by any editors.

[2020-12-16 18:34] ferdikoomen commented on #490
@iansan5653 done, will create new build soon!

[2020-12-16 18:38] ferdikoomen commented on #477
@iansan5653 good point, will fix this in the next mayor release

[2020-12-16 18:40] ferdikoomen commented on #475
Hey @EqualMa good point! Will push a new build soon

[2020-12-16 18:41] ferdikoomen commented on #464
Good point @jesperkristensen  will schedule this for the next release

[2020-12-17 01:08] iansan5653 commented on #465
I just saw PR #489 which solves the problem here, but I think it can be done in a better way. Injection through the class field would be a lot cleaner as the global variable config would be avoided.

[2020-12-17 20:29] iansan5653 opened #493 "Incorrect interfaces are produced when a property has a space in the name"
If a property of a schema has a space in the name (ie, `"Example Property"`, the output will have the property name `Example$u0020Property`, replacing all spaces with `$u0020`. Instead, the property name should just be wrapped in quotes. This is a valid interface in TypeScript:

[code]

For simplicity, maybe all property names should be quoted and not escaped at all (except to add a backslash befo

[2020-12-18 11:01] ferdikoomen commented on #493
@iansan5653 what spec are you using, is i define a propery like:
[code]
then the result is:
[code]
in the generated model

[2020-12-18 11:03] ferdikoomen commented on #490
@iansan5653 0.7.1 should fix this, its available now

[2020-12-18 11:03] #490 closed

[2020-12-18 11:04] ferdikoomen commented on #475
@EqualMa  0.7.1 should fix this, its available now

[2020-12-18 11:04] #475 closed

[2020-12-21 18:10] iansan5653 commented on #493
Sorry, after some more examination this is actually a problem with the schema we're using, not with this library.

[2020-12-21 18:10] #493 closed

[2020-12-23 13:46] euhoo opened #505 "big with required type"
I'm using yaml to generate interface.
This code from yaml
[code]
transforms to typescript

[code]
As you can see boss became required in ts type.
The same thing if only boss_id required in yaml
The same thing if only cust_boss required in yaml

[2020-12-29 09:51] rattkin opened #509 "Letter case is changed to lowercase in angular but correct in node project"
This openapi spec, single file shared between both projects:
[code]

I'm using this command, the same in both projects:
[code]

In node project, the letter case is I think correct:
[code]
And the AddressTypeId.ts:
[code]

However, in Angular project there are some letters changed for some strange reason to lower-case:
[code]
And the address-type-id.ts:
[code]

Because 'BA' !== 'Ba', I can not copy

[2020-12-29 20:13] huttarichard opened #510 "Incorrectly resolved typescript type"
based on swagger config:

[code]

as long as headers are commented out you get this signature

[code]

however once you uncomment the headers signature will become

[code]

I don't think this is expected behaviour. Or am I missing somthing?

[2020-12-30 21:45] tamasfe opened #511 "Enum with bool is is broken (v3)"
The following schema breaks the generator, but is accepted by the swagger editor:

[code]
It's quite a niche use-case, but should work regardless.

[2021-01-04 15:47] iansan5653 opened #517 "Responses that return files don't work"
It's possible for an API to return a file in response to a request. The OpenAPI [documentation](https://swagger.io/docs/specification/describing-responses/#response-that-returns-a-file) says to describe this as a response with the schema:
[code]

Currently the service (at least in `fetch` form) only either calls `json()` or `text()` on the fetch response. I think that when it sees a response with

[2021-01-14 17:10] nazarhussain commented on #135
@ferdikoomen Is this `"in": "formData",` a valid for OAS 3? I could not find any reference for it? As per my knowledge, there are only `path`, `query`, `header`, and `cookie` parameters.

[2021-01-15 19:00] ksydex opened #525 "Method name"
How is it generated? Can i specify these by myself to make them more clear?
P.S. I talk about `postAuthService`, `postAuthService1` etc.
![image](https://user-images.githubusercontent.com/38377534/104767262-e6857800-577c-11eb-9840-e7f0d2d620c6.png)

[2021-01-21 02:00] theikkila opened #536 "Regression with enum generation in nested objects between 0.5.2 and 0.7.2"
If you generate models using following OpenAPI-specification:
[code]
With version 0.5.2 using following command:
`npx openapi-typescript-codegen@0.5.2 --input bugapi.yaml --exportCore false --exportServices false --output ./0.5.2`
Produces correct representation but with inline enums:
[code]

The same specification with version 0.7.2 using following command:
`npx openapi-typescript-codegen@0.7.2 -

[2021-01-21 14:03] mr-bjerre opened #537 "Moment for date-time strings"
Say my OpenAPI spec have a `date-time` field,

[code]

and I want to generate the following type

[code]

instead of

[code]

Is that possible? This would require me to give some kind of parser of course to transform the string into `Moment`.

[2021-01-21 17:51] vacuumdreams opened #538 "Query parameters and collectionFormat"
**Describe the solution you'd like**

Based on the documentation below, array types in the query should be sent based on the `collectionFormat` property of an array type query parameter with the following options: `csv`, `ssv`, `tsv`, `pipes`, `multi`.
Currently only the `multi` format is supported, contrary to the specs which are explicitly define `csv` as the default.

Reference: https://swagger

[2021-01-22 01:33] stefanpl opened #539 "e.replace is not a function"
Hello 👋

[code]

Please consider this shell script:
[code]

It fails with
[code]

I do understand that the docker yaml file contains quite a lot of errors (there are various tickets trying to remedy that). But I still think `openapi-typescript-codegen` could be a bit more robust here – it does not generate any output at all, and the error is very obscure.

In case somebody wants to tackle this, I'

[2021-01-27 08:54] sussdorff opened #545 "Missing config in OpenAPI.ts"
Within the last two weeks (approx.) something changed which results in OpenAPI.ts missing some config which is still required by request.ts (like USERNAME; PASSWORD; HEADERS)

Below is the diff of the previous generated version and the version generated now of OpenAPI.ts

We can easily fix this by adding the config back to OpenAPI.ts, but I wanted to make sure there isn't something important "miss

[2021-01-27 10:40] ferdikoomen commented on #545
@sussdorff The config is still there: https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/src/templates/core/OpenAPI.hbs
And request.ts imports the OpenAPI file:
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/src/templates/core/fetch/request.hbs
Also the tests (and real life examples) are running fine.
Can you clarify your issue?

[2021-01-27 10:53] ferdikoomen commented on #537
@mr-bjerre at this point in time: no.
There is a PR outstanding https://github.com/ferdikoomen/openapi-typescript-codegen/pull/494
If you want you can test this PR and report back if it works for your use case

[2021-01-27 10:53] #537 closed

[2021-01-27 10:57] ferdikoomen commented on #525
@ksydex The service method names are auto generated from the `operationId`. If there are multiple services with the same operation id, then it's postfixed with a number. So the easy answer is: Update the spec file (or request it to be updated)

[2021-01-27 10:57] #525 closed

[2021-01-27 10:58] ferdikoomen commented on #517
@iansan5653 currently no. I have only written support for uploading binaries. Feel free to create a PR. If time permits i'll add it down the road.

[2021-01-27 10:58] #517 closed

[2021-01-27 11:00] sussdorff commented on #545
@ferdikoomen this is what I saw which confused me as it is explicitely excluded (the lines from the OpenAPI.hbs) when generating the OpenAPI.ts in our environment. As I'm not sure what is involved in turning the .hbs into a .ts file I can't really say. Note that we are using the npm install with     "openapi-typescript-codegen": "^0.7.2" which does seem to have the correct data in index.js. => I a

[2021-01-27 11:03] ferdikoomen commented on #539
@stefanpl yes one of the idea's on the roadmap is to provide a 'validation step' based on the OpenAPI schema. This would give you back a slightly better error than some 'random' code parser one. If you want to do that already then use something like this: https://github.com/APIDevTools/swagger-parser

[2021-01-27 11:03] #539 closed

[2021-01-27 11:22] ferdikoomen commented on #511
Hi @tamasfe

Assuming we have the following input:
[code]
The typescript equivalent of an enum for this:
[code]
Will not compile (true is not a valid value), so i will convert this case to:
[code]
I will include a fix for this in the next release (will be pushed this evening): version 0.8.0

[2021-01-27 11:22] #511 closed

[2021-01-27 11:28] ferdikoomen commented on #509
@rattkin Not sure why that is happening... the import you are seeing:
[code]
Are generated using a line like this in the Handlebars templates:
[code]
So the model name and file name should be exactly the same...

Could you check the version of handlebars in your project? Or can you isolate the issue and send an example setup to me?

[2021-01-27 11:35] ferdikoomen commented on #505
@euhoo Not sure about this one,

I just tried the following spec:
[code]
That generates the following result:
[code]
Could you check your NodeJS version, your operating system and send me an example of the spec file? Oh and what version of the generator are you using? Dis you try the latest version?

[2021-01-27 11:39] ferdikoomen commented on #545
@sussdorff could you check the version of handlebars in the node_modules directory?
And maybe give me you specs: Node version, OS version

[2021-01-27 12:36] sussdorff commented on #545
handlebars ist 4.7.6
node 14.14.22
MacOS 10.15.7 (catalina - Intel CPU)

[2021-01-27 13:16] ferdikoomen commented on #465
@jesperkristensen @iansan5653 there is currently one option and that is to use the `--request` parameter to supply a custom request file when generating:

[code]

Example of such a file:

import { stringify } from 'qs';
import { ApiRequestOptions } from './ApiRequestOptions';
import { ApiResult } from './ApiResult';

export async function request(options: ApiRequestOptions): Promise<ApiResult>
{

[2021-01-27 13:16] #465 closed

[2021-01-27 13:28] ferdikoomen commented on #545
Ok so, the newly generated OpenAPI file should look something like:
[code]
In the diff i see an older version, where there is still a property like this
[code]
Do you see a runtime/compile issue as well? because the new OpenAPI generator should generate compatible files (the request.ts file should only use properties that are defined in the OpenAPI.ts).

[2021-01-27 14:00] ferdikoomen commented on #510
@huttarichard When we define the header as the response type, the OpenAPI generator will assume you want to get back the header value (that is a string), rather than the model that is used in the schema. This is because we generate a service call that 'resolves' only one type.
So the question would be: What should happen in this case? What would be the expected return type?
Maybe it makes sense to

[2021-01-27 14:01] sussdorff commented on #545
Thanks. The version you described is the *old* version we have.

Having seen that I double checked my environment. Long story short... there was an old version of the openapi-typescript-codegen outside my main NPM respository which was linked from /usr/local/bin/.... resulting in finding a 0.4 version. Now I changed the call to run using `npx openapi-typescript-codegen`.

Thanks for guiding me thr

[2021-01-27 14:01] #545 closed

[2021-01-27 14:21] ferdikoomen commented on #536
Hi @theikkila

I investigated the issue and fixed it. It will be pushed soon with the new version: 0.8.0

The result will be:

[code]
Or when using `--useUnionTypes` the result will be:
[code]

[2021-01-27 14:21] #536 closed

[2021-01-27 14:31] huttarichard commented on #510
@ferdikoomen I opened this issues long time ago, and later down the road started building my own generator. Few things I found are not filling up my expectations. This was actually one of them.

I will write them up, maybe as a sugestion what can be imho improved:

I do prefer to have full response, If serverside provides response headers together with payload I don't see reason to prefer & return

[2021-01-27 14:31] #510 closed

[2021-01-27 19:18] ferdikoomen commented on #478
@markygab actually the response should be slightly different. The SurveySurface **type** prop can be "allOf" the following types: **SurfaceType** or **string** (or actually the string value is SURVEY). So the generated code should be:

Option 1:
[code]

Option 2:
[code]

Option 3:
[code]
I'm investigating now why this generates incorrectly.

[2021-01-27 20:55] ferdikoomen commented on #478
The issue is: When simply checking the spec we end up with something like this:
[code]
Yes, 'SURVEY' is a value of SurfaceType, but hat is not clear from the spec. I need to follow up on this, but at the moment the easiest solution is to remove this last bit from the spec (if you have access to that):
[code]

[2021-01-28 14:54] iansan5653 commented on #465
I didn't know that was possible, thanks. To clarify, does the request file just need to export a single method `request` which has type `(options: ApiRequestOptions) => Promise<any>`?

[2021-01-29 09:38] rattkin commented on #509
Thank You for caring.
I verified that handlebars versions match and that issue still persists for me.
Since I already have a workaround, I have moved on to other work.

[2021-01-29 09:38] #509 closed

[2021-01-29 17:59] robinmetral opened #546 "0.8 Regression: Unexpected token in JSON"
Hi,

First of all, thank you for the great tool!

I think there might be a regression in 0.8.0 (from two days ago). I've reproduced the behavior below on the latest Node 12 and 14, I'm on Ubuntu.

The issue is at step 5. below, but the error message is not very useful so I'm adding steps for reproduction:

1. `npm init` to start with a clean project`
2. `npm install -S openapi-typescript-codegen@0

[2021-01-29 22:32] HMilbradt commented on #546
Now seeing this as well when running the following command:

`npx openapi-typescript-codegen --input ./schema.json --output ./src/lib --client node --useOptions`

On version 0.8.0:

[code]

Thanks for providing the workaround @robinmetral

[2021-01-31 09:56] ferdikoomen commented on #546
Yep see the issue, the upgrade of commander package has broken the generator, fix will be pushed in an hour

[2021-01-31 09:59] ferdikoomen commented on #546
Just pushed version 0.8.1.

[2021-01-31 10:22] #546 closed

[2021-02-02 10:43] mr-bjerre opened #551 "Generated type for openapi response with a default value is marked as possibly undefined"
In my front-end I'm consuming a backend endpoint `/test`. The `post` needs a body of type `Model` where the `a` property is optional with a default value. The response from this endpoint is a `Model` where I know that `a` will contain an integer since a default value is given.

I.e. here is the openapi.json spec

[code]

Running the following command

    npx openapi-typescript-codegen --input htt

[2021-02-02 22:35] staklau opened #552 "Setting base path dynamically for production builds."
You usually develop against your server running at some local address, and use some other base path in production, e.g:
`http://locahost:8080` locally and `https://myprodserver` in production.

I would like the possibility to change the base path dynamically for creating my production builds.

If I understand correctly this comes directly from the OpenApi-spec-file, as of now, but I would like thi

[2021-02-04 13:26] giowe opened #553 "Decouple TS types generation from openapi-typescript-codegen"
Hi @ferdikoomen , first of all thanks for your great job, we are using it in various projects.
In our experience we noticed that would be very useful to leverage the TS types generation not only for a client SDK but also for the server development.
Are you interested in decoupling the TS types code generation from the SDK client generation?
If so let me know if I can help

[2021-02-04 22:00] ferdikoomen commented on #552
Hi @staklau you can always change the base path bt setting this in OpenAPI.BASE = 'http://mydomain.com/api'. You can do that based on the environment config or inject it via webpack, whatever works.

[2021-02-18 22:05] ferdikoomen commented on #505
Closing this, since there is no response

[2021-02-18 22:05] #505 closed

[2021-02-18 22:05] ferdikoomen commented on #552
Closing this since there is no reponse

[2021-02-18 22:05] #552 closed

[2021-02-18 22:09] ferdikoomen commented on #553
@giowe I'm working on some rewrites (which are in a very draft state now). If it's slightly further along i would like some input on that. The next version will / should contain better decoupling between different steps (parsing, validation, generation, etc). For now you could execute the following command to 'just' get the models:

[code]
This should only generate the 'plain' models without any s

[2021-02-20 11:03] giowe commented on #553
@ferdikoomen thanks! is it possible to achieve the same result passing somehow those parameters programmatically instead of using the cli ?

[2021-02-21 08:47] ferdikoomen commented on #553
Sure, do you mean something like this?

[code]

Cheers,

Ferdi

[2021-02-22 18:58] giowe commented on #553
tnx!!!

[2021-02-22 18:59] #553 closed

[2021-02-23 10:19] laktak opened #588 "Auth/Micro Service Use Case"
I have a service where I need to pass the JWT (and other headers) of the request along to each API call I make.

I looked at the existing issues but it appears that I can only set the auth headers globally and not for each request? Is there a workaround?

[2021-02-25 07:22] scipper commented on #477
@iansan5653 this work around is a bit risky, because the `HEADERS` are changed for *every* request, until you reset it. So if you have multiple requests running in parallel, this work around will cause errors!

[2021-02-25 15:15] iansan5653 commented on #477
@scipper I have not noticed any issues with this workaround - I just update the `HEADERS` property one single time at app startup and it works.

[2021-02-25 15:23] scipper commented on #477
@iansan5653 because an empty Accept header, as you configured it, will most likely be treated as `Accept: */*`. I did not think about that. So, as a work around, valid.

Thanks for the hint with the `--request` parameter. I am not sure if this helps me for the moment, but I will give it a try.

[2021-02-25 23:22] tomohisa commented on #257
https://github.com/tomohisa/openapi-typescript-codegen
I fixed it for my own project but not sure its the way it should fixed.
https://github.com/ferdikoomen/openapi-typescript-codegen/compare/master...tomohisa:master
I added content which was not used current and depends on content, and add
operation.parametersFormData
to use for
formData: formData
{formData?: any}

[2021-02-26 02:36] kwkelly commented on #588
@laktak, it's not ideal, but with some small-ish modifications you can generate code that utilizes an instance instead of static classes for the service methods. See the fork here for an example: https://github.com/kwkelly/openapi-typescript-codegen .
You can instantiate a client as needed per request to keep the auth separate. See in particular the `v3.node.spec.js` for how it works.

@ferdikoome

[2021-02-26 09:24] andreujuanc commented on #551
Hi @mr-bjerre
I've got the same issue. Have you got any workarounds?

[2021-02-26 09:45] laktak commented on #588
I only looked at your changes but it looks very promising! Thank you!

I would change the naming from all caps though to conform with the standard naming conventions ... the project currently uses them in that form but it's different for global settings IMO.

[2021-02-26 09:50] mr-bjerre commented on #551
No I haven't unfortunately

[2021-02-26 10:11] andreujuanc commented on #551
Looks like the spec i'm using is not adding the required fields, which are not set in the props themselves but in an array like so:
https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.json#L136
Ill try to get the proper json

[2021-02-26 13:52] kwkelly commented on #588
Thanks laktak... I updated the instance config to use lowercase.

[2021-02-26 17:47] ferdikoomen commented on #588
@laktak @kwkelly You can do two thing currently:
In the place where you set the global headers:
[code]
You can actually pass a async method. This will be called on each request to get the headers you might want to apply:
[code]
Hope that might also help you, its not perfect, but it might just work in your case.

[2021-02-26 18:33] andreujuanc commented on #588
@ferdikoomen  do we have access to the current request? I'm interested in forwarding the current headers.

[2021-02-26 20:29] laktak commented on #588
@kwkelly I wanted to test your implementation but the repo is now 404?

@ferdikoomen I've seen that but the function is missing the context - how would I get the current request in your `getMyToken` example?

[2021-02-26 20:31] ferdikoomen commented on #588
@laktak we could add this, seems like a usable thing... Let me check

[2021-02-26 20:38] kwkelly commented on #588
@laktak check again. Sorry.

[2021-02-26 20:50] ferdikoomen commented on #465
@iansan5653 Yes indeed, simple example: https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/test/custom/request.ts

[2021-02-26 23:25] ferdikoomen commented on #551
@mr-bjerre i see the issue indeed. I created this PR: https://github.com/ferdikoomen/openapi-typescript-codegen/pull/592 Will test the changes. Officially the required props need to be in the array, but the JAVA generator also marks properties with default values as non-optional, so will do some regression testing and then we could merge this.

[2021-02-27 21:27] laktak commented on #588
@ferdikoomen I think the implementation by @kwkelly solves this in a good way.

He changed the `Service` from static to a normal class where you can pass headers to the constructor:

[code]

[2021-02-27 22:46] andreujuanc commented on #588
I would love to have one instance per request instead of a singleton.
It would open the door on handling multiple backends if forwarding from different autentication contexts.

[2021-03-01 10:36] ptrbojko opened #596 "Description element can be escaped when converting to a comment"
**Describe the bug**
Following part of spec:
[code]

Converts to
[code]
which escapes from a comment (see _*/example/config/url*_ part) and int return the result is not valid source code.

[2021-03-01 17:03] jesperkristensen commented on #465
Unfortunately it looks like the `--request` parameter can only be specified when generating the API client, but not when calling the API, so it does not really solve my problem.

[2021-03-05 12:26] andreujuanc opened #597 "Validate wrong specs"
Hi,

I've got an spec which basically says that it's a GET but also contains a body.
This library generates the request and sends a body along the way.

Is it possible to make it so when generating the client if the verb is a GET and the spec contains a body then we at least show a warning?

Thanks <3

[2021-03-07 05:19] quertenmont opened #598 "format: "binary" field + "multipart/form-data" content to leading to formData request"
**Describe the bug**
I have a schema like this one:

[code]

This lead to the following typescript structure:
[code]
Here I would expect a file type format and I would also expect my service to properly pass that type of data as a formData field.
When I test my specification on swagger.com it understand properly that this is a "file" field and when I use the "client code generator" to typescript-f

[2021-03-10 12:26] mikearnaldi opened #605 "Generating invalid typescript"
When an API input has the field `default` we will generate a client that uses `default` as a parameter, unfortunately, `default` is a reserved word.

Reproduction: `openapi -i https://raw.githubusercontent.com/CurrencyCloud/currencycloud-swagger/master/src/reference.yaml -o src` leads to code that doesn't compile

[2021-03-12 20:10] ferdikoomen commented on #596
@ptrbojko the Java client encodes this with an underscore, so */example/config/url* will become *_/example/config/url* I will follow the same approach

[2021-03-12 20:20] #596 closed

[2021-03-12 20:20] ferdikoomen commented on #596
Will push a new version e.o.d. the fix is already pushed to master

[2021-03-12 20:25] ferdikoomen commented on #597
The generator tries to do a best effort indeed, the validity of the spec if down to the implementor. I'm thinking a mayor next version could do some validation before executing the generation step. For now the best approach is to run a validation with another library first. You can checkout any of the tools here: https://openapi.tools/#data-validators

[2021-03-12 20:25] #597 closed

[2021-03-12 20:30] ferdikoomen commented on #598
@quertenmont At the moment the **upload** / **multipart/form-data** area is lacking proper support. I'll have a look at your spec (and some other examples) and check what we can do. There is a related ticket here: https://github.com/ferdikoomen/openapi-typescript-codegen/issues/257

[2021-03-12 20:35] ferdikoomen commented on #551
@mr-bjerre just pushed a new version 0.9.1

[2021-03-12 20:35] #551 closed

[2021-03-12 20:46] ptrbojko commented on #596
Thanks! This is fast one :)

[2021-03-12 20:57] ferdikoomen commented on #605
Hi @mikearnaldi good point, will add the reserved words check, tested a few use cases and seems this is the list:

[code]

[2021-03-12 21:38] ferdikoomen commented on #605
@mikearnaldi just pushed version 0.9.2. Could you check if that solved your issue?

[2021-03-13 00:06] mikearnaldi commented on #605
@ferdikoomen It does! thanks very much for the rapid fix, I'll close the issue

[2021-03-13 00:06] #605 closed

[2021-03-13 09:26] andreujuanc commented on #597
Fair.! Thanks.

[2021-03-13 12:24] ljwagerfield opened #607 "Return type is Promise<any> instead of Promise<void> for endpoints with bodyless responses"
Given the following OpenAPI Spec:

[code]

The `openapi` CLI tool outputs:

[code]

How can I change the return type to `Promise<void>`?

(Great tool btw!)

[2021-03-13 14:51] ferdikoomen commented on #607
@ljwagerfield this seems related to the specified "204" return code, if there is no "responses" field then it should be void. But you have a good point: The 204 response should be "No content", so in this case we would expect a void indeed. I will have a quick look

[2021-03-13 15:18] ferdikoomen commented on #607
@ljwagerfield I pushed a fix to the main branch, will publish a new version next week (working on a few more minor fixes). If a response has the 204 code then we can assume No Content e.g. void :-)

[2021-03-13 18:15] quertenmont commented on #598
Ok Thanks,

Looking forward to see this implemented

Loic
--------------------------------------------------------------------------------------------
   Loic Quertenmont -
   Data Scientist & Founder at http://DeeperAnalytics.be
   Phone: +32 474 831 531
--------------------------------------------------------------------------------------------

Le ven. 12 mars 2021 à 21:30, Ferdi Koomen ***@***

[2021-03-22 13:25] mikearnaldi opened #620 "Generating wrong services"
Generating a client for: ```https://raw.githubusercontent.com/CurrencyCloud/currencycloud-swagger/master/src/reference.yaml``` I get the endpoint for `operationId: FindAccounts` with a return type `Promise<any>` where the schema says `{ "accounts": Array<Account>, "pagination": Pagination }`

[2021-03-23 15:30] laktak commented on #588
@ferdikoomen just wanted to ask if you have any updates on this. Can we help?

[2021-03-25 16:35] CheesyFeet opened #621 "Enums with floats generate invalid member names"
An enum with floating point values generates invalid typescript. An example of generated code is:

[code]

This throws typescript errors due to the use of the decimal point in the name. Perhaps the decimal could be replaced with an underscore during generation if the value is a float?

Thanks

[2021-03-31 10:00] yaydos opened #632 "Missing imports for "AllOf""
Hi Ferdi,
We have found an issue in version 0.8.1 and it is also reproducible in latest version 0.9.2. When we downgrade to 0.6.0 it generates correctly. Here is the case:
**spec.json definition is as below. A you can see "allOf" does not include "properties", "additionalProperties" etc**
`` "BaselineList": {
          "type": "object",
          "allOf": [
            {
              "$ref": "#/c

[2021-03-31 11:32] mleimer opened #633 "--useUnionTypes still creates enums for definitions being an enum"
Given an API-Spec with the following definitions in yaml-format

[code]

When I generate the typescript objects using
`openapi --useUnionTypes --input ./swagger.yaml --output ./dist`

Then, I get
[code]

I would expect that even Status.ts itself exports a type consisting of an union type instead of an enum.

[2021-04-01 10:27] ferdikoomen commented on #621
@CheesyFeet In the latest version the enums are generated as strings:
[code]

This might look weird, but it's "correct" from the API perspective. You can then use them like:

`EnumWithNumbers['1.026'] `

Yes, this is weird, but an enum like this is very weird :-) You can also add x-enum-varnames in the spec to describe these magic numbers:

[code]

[2021-04-01 10:28] #632 closed

[2021-04-01 10:34] #621 closed

[2021-04-01 10:34] ferdikoomen commented on #621
@CheesyFeet please test using 0.9.3 version (just pushed it)

[2021-04-01 10:35] ferdikoomen commented on #607
@ljwagerfield sorry for the delay, had some illness in between. There is a new version (0.9.3) that should contain the fix for the issue.

[2021-04-01 10:43] ferdikoomen commented on #620
@mikearnaldi Ah yes i see it indeed, let me investigate what is going on here

[2021-04-01 10:57] ferdikoomen commented on #620
@mikearnaldi technically the issue is this: In the response section for the `FindAccounts' operation it states this:

[code]

However, the `schema` should contain `type: object`.
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaObject
When that is present the response looks good:

[code]
The string response is there due to the default response + the response header th

[2021-04-01 10:58] ferdikoomen commented on #620
The /conversions/find path does this correctly for instance

[2021-04-01 12:20] CheesyFeet commented on #621
Can confirm 0.9.3 generates the enums without causing typescript errors for me - thanks!

[2021-04-01 17:56] mikearnaldi commented on #620
Uh sorry for the issue definitely a bad schema, closing! Thanks for investigating

[2021-04-01 17:56] #620 closed

[2021-04-02 10:05] ljwagerfield commented on #607
That's fantastic, thank you!

[2021-04-02 10:05] #607 closed

[2021-04-02 10:15] ljwagerfield opened #634 "--useUnionTypes still uses enums for path parameters"
### Expected behaviour

When specifying `--useUnionTypes` union types are used everywhere instead of enum types.

### Current behaviour

Given the following schema:

[code]

When passing `--useUnionTypes`, the following code is generated:

[code]

---

|           Dependency            |  Version  |
|------------------------------|-----------|
| `openapi-typescript-codegen` | `0.9.3`   |
| `typesc

[2021-04-02 10:16] ljwagerfield commented on #634
Possibly related to https://github.com/ferdikoomen/openapi-typescript-codegen/issues/633

[2021-04-02 16:36] Ti-webdev opened #635 "add support to abort request"
I can't find a way to pass an abort signal.

Although all of client types supported the feature:
https://developer.mozilla.org/en-US/docs/Web/API/AbortController/AbortController
https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/abort
https://www.npmjs.com/package/node-fetch#request-cancellation-with-abortsignal

[2021-04-05 05:06] Ti-webdev opened #636 "boolean property with default: false became required"
My schema is:
[code]

it's generated to:
[code]

`remember` is marked as `isRequired: true` but it isn't required.

[2021-04-05 05:13] Ti-webdev commented on #636
May be the logic should be inverted?

https://github.com/ferdikoomen/openapi-typescript-codegen/blob/830b317d0a0f6aaa97dba43818ce6d1ccc109be2/src/openApi/v3/parser/getModel.ts#L26

[2021-04-06 18:58] wei opened #643 "`snake_case` parameters should not auto convert to `camelCase`"
**Describe the bug**
Currently, snake_case parameters are automatically translated to camelCase in the method signature leading to inconsistencies especially if the snake_case is what's being used elsewhere in the request and response data.

Currently:
![image](https://user-images.githubusercontent.com/5880908/113763781-15f6b180-96e8-11eb-94fe-031425541278.png)

Ideally we should have an option to

[2021-04-12 07:53] sjoerdmulder opened #654 "Add support for the `explode` query parameters"
I don't see that the `explode` definitions don't have any connection in the code currently.

Is it possible to add this support specified here: https://swagger.io/docs/specification/serialization/#query

What would be nice that the service API would expose `explode` as `Array<number>` instead of the `number` it is currently generated, so that you can easily pass multiple values.

[2021-04-13 14:19] ex0ns opened #655 "How to deal with errors"
I'm using the following definition to generate TS code from this lib

[code]

Which I then use from my code:

[code]

Unfortunately, this does not work because the underlying `request` function called by the `postApi10Move` uses `Throw` to throw an error in case the response is not 200. I don't think this is a good idea. Many API are expected to return a body even if the status code is not 200.

T

[2021-04-17 13:00] mabounassif opened #656 "Request body with form data content type"
I am exporting an openapi spec from a FastAPI backend and trying to automatically generate typescript client code to enforce the contract between the client and backend. With the below spec, I am expecting the `post_token` endpoint to generate a function that fills up the `formData` property of a request. However, it generates the following code which leads to an Unprocessable Entity error.

*Serv

[2021-04-21 08:56] yume-chan opened #658 "Add support for array in form data request body"
**Describe the solution you'd like**

Practically, form data allows duplicate keys, and servers may parse them as an array (See https://stackoverflow.com/a/28434829).

One of our API requires such a parameter, but the generated requester doesn't support this usage.

From the above StackOverflow answer, different servers may behave differently, so maybe some extra investigations are required. For o

[2021-04-24 01:38] #656 closed

[2021-04-26 13:45] npwork opened #669 "Add support for type mappings"
In my schema I have type `number` with format, which is currently ignored by `openapi-typescript-codegen`
For my use case I have numbers that can't be represented in typescript's `number` (too big values)

so it would be great to have some sort of flag:
`--typeMappings number=Big`

Another usecase is to replace dates with moment's dates.

[2021-04-27 11:29] ferdikoomen commented on #669
@npwork How does that spec look like? Is it a `integer` with a `int64` format?

On the replacement of dates:
Never use moment.js https://momentjs.com/docs/#/-project-status/, there are better alternatives. Or if really needed, just convert then when needed (in a UI component for instance)
There is a PR with a date parsing: https://github.com/ferdikoomen/openapi-typescript-codegen/pull/494
Feel fre

[2021-04-27 11:34] ferdikoomen commented on #658
@yume-chan Do you have an example (or snippet) of the OpenAPI spec? Then i can have a look. The way form data is handled is defined by OpenAPI: https://swagger.io/docs/specification/describing-request-body/

Specifically this section: "By default, arrays are serialized as array_name=value1&array_name=value2 and objects as prop1=value1&prop=value2, but you can use other serialization strategies as

[2021-04-27 11:41] ferdikoomen commented on #654
@sjoerdmulder Yes, great idea, we have a similar problem with the FormData. See the ticket here: https://github.com/ferdikoomen/openapi-typescript-codegen/issues/658
I haven't prioritised this, since most projects I'm working on use JSON bodies for FormData and 'default' encoding for query params.

[2021-04-27 11:45] ferdikoomen commented on #643
@wei it's a good question. Originally i wanted to convert the properties to a more default formatting that we are used to in Typescript projects. I see a lot of REST API specs out there that have 'weird' (subjective i know) variable names. We could decide not to convert these properties (or only convert them when the formatting is incompatible with Typescript)... Need to check if that would create

[2021-04-27 11:48] ferdikoomen commented on #635
@Ti-webdev There is a branch for cancelable requests: https://github.com/ferdikoomen/openapi-typescript-codegen/tree/feature/cancelable This will be merged soon. In that branch you can do the following:
[code]
This works well if you are using Redux Saga's or even better: ReactQuery: https://react-query.tanstack.com/guides/query-cancellation. But since it will just have a `cancel()` method on the P

[2021-04-27 12:02] Ti-webdev commented on #635
@ferdikoomen Wow. Im looking forward that.

[2021-04-27 12:05] ferdikoomen commented on #655
@ex0ns This is how it was designed, successful requests (HTTP status 200 range) will return normally and unsuccessful requests will throw an error. In many application cases you would probably want to show a notification to the user. So indeed your second example is correct:
[code]

[2021-04-27 12:05] #655 closed

[2021-04-27 12:12] wei commented on #643
Perhaps we can do something like

[2021-04-27 12:12] sjoerdmulder commented on #654
Great I already have some POC code ready, will prepare a PR later this week

Op di 27 apr. 2021 13:41 schreef Ferdi Koomen ***@***.***>:

[2021-04-27 12:15] ferdikoomen commented on #588
@laktak When you use the latest OpenAPI generator the GLOBAL config looks like this:

[code]
So the `OpenAPI.HEADERS` or `OpenAPI.TOKEN` property can be used to either set a headers once, or you can pass a function that 'resolves' the headers for each request. This could look something like:

[code]
There is no progress on the "one instance per request instead of a singleton".

[2021-04-27 14:56] laktak commented on #588
Thank you.

I have incoming calls from other services with a JWT in the header. How can I pass the JWT along to the async method?

I looked at the `ApiRequestOptions` but there is not context or "session" to pass along so I can't get to the JWTs that I have. Am I missing something?

[2021-04-27 16:04] ferdikoomen commented on #588
@laktak I don't know how you receive the JWT header, but in some of the projects that i'm involved in, we do something like this:

We have an authentication library (OpenID in our case), that library receives new JWT tokens when the old ones expire:
[code]
This setup would set the token (or override it when a new token comes in). And all the calls would just use this token in their requests: Setti

[2021-04-27 16:04] CloudPower97 opened #670 "Generate models and services in separate folders"
Hello,
would it be feasible to generate models and schemas in different folders than where the services and core are?
At the moment, if one specify the option `--exportModels false` it seems that in the services it still tries to import models from the models directory that, obviously, has not been generated.

The main use case for this is the ability to share generated types/interfaces with diffe

[2021-04-27 16:48] ferdikoomen commented on #588
Maybe a better question would be: how would you write it with another library? Like directly with fetch, axios, etc.?

[2021-04-27 17:53] laktak commented on #588
OK, I'll try to explain it a bit better.

For example we have an orchestration service with a `/message` API.

User A calls orchestration:/message JWT-A, the service then
- calls store:/message (JWT-of-A) to save the message in the outbox of user A (JWT-of-A grants access to this outbox)
- calls notify:/send (JWT-of-A) to send a notification (JWT-of-A grants access and identifies A as the sender)

[2021-04-27 22:09] ferdikoomen commented on #588
@laktak Cool! Thanks for clarifying. Let me check if this use case can be done, but indeed this might be an issue. I dont want to loose the Static services, they are handy in most common application scenarios. But maybe we can create both: static methods and class instance creation, using those methods, but having some scoped configuration... interesting issue.

[2021-04-28 06:12] laktak commented on #588
That would be great, thank you!

[2021-04-28 10:07] yume-chan commented on #643
My main complaint is that they are different between requests and responses, so if we have one API to get some model and another to update the model, we may need to manually convert all field names to camelCase when updating.

To me, it's also acceptable if the response field names are also being automatically converted.

[2021-04-28 10:24] yume-chan commented on #658
I'm still using OpenAPI 2.0 due to #257.

I checked OpenAPI 2.0 spec, the only mention to `array` type is [here](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0.md#:~:text=number%22%2C%20%22integer%22%2C%20%22boolean%22%2C-,%22array%22,-or%20%22file%22.%20If).

I edit definition files using a program called [Stoplight Studio](https://stoplight.io/). It allows me selecting `arra

[2021-04-29 11:31] GoodGuyMarco commented on #634
Hey folks, what is the status about this? Are there plans on fixing this behaviour?

[2021-04-30 18:28] sudall opened #672 "Media type with parameter generates to `any` type"
We have a response definition in our spec that looks like this:
[code]
and the generated response type ends up being:
`Promise<any>`

If we change the media type from `application/json; type=collection` to `application/json`, the generated type looks correct:
`Promise<Array<Distribution>>`

Is there something invalid about `application/json; type=collection` as a value here in the spec, or is this

[2021-05-02 18:55] yume-chan commented on #658
I found that it supports array in query string:

https://github.com/ferdikoomen/openapi-typescript-codegen/blob/830b317d0a0f6aaa97dba43818ce6d1ccc109be2/src/templates/core/functions/getQueryString.hbs#L1-L19

It should be similar for form data.

[2021-05-04 11:32] klaemo opened #680 "Consider renaming binary to something less generic"
Hey there,
thank you for creating this very useful tool :)

I noticed that the executable of this module is called `openapi`. Unfortunately, there are other tools out there that use the same name, notably `@redocly/openapi-cli`. So, I can't have both installed in the same project and invoke them with npm scripts.

Would it be possible to rename the binary from `openapi` to something like `openapi-

[2021-05-05 08:50] dbo opened #681 "Handle empty responses (status 204)"
Empty response bodies (status 204) always run into an exception which is annoying while debugging, a status check should be added to `getResponseBody`, e.g.

[code]

[2021-05-10 00:19] karibertils opened #684 "Missing types"
If I run
[code]

It runs successfully and generates the client. If I then take a look at the files in ```src/bokun/models``` I see most of them have empty type signature.

For example ```src/bokun/models/SearchResultsDto.ts``` has:
[code]

Looking at the swagger json I see:
[code]

Why are there so many empty types ?

[2021-05-11 13:03] rbayliss commented on #588
This is kind of important for us as well.  Our use case is that we have a class (`Submitter`), and multiple "environments" the submitter might point to.  Within the scope of a single script, we create and use a new `Submitter` for each environment:
[code]
Ideally, each `Submitter` could be instantiated with a client instance with the base URL and credentials configured. Lacking this, we'd have to

[2021-05-12 08:50] nichujie opened #695 "formData of openapi V3 not parsed"
I used `openapi-typescript-codegen@0.9.3` to parse the `openapi.json` generated by our backend(which uses FastAPI). I find that one of the api is mis-parsed as a request that sends json rather than form-data. I've tested this api and it really can process form-data request. Here's the schema in `openapi.json`.

[code]
And the code generated is like:
[code]
I can't figure out how to make the `reque

[2021-05-12 12:29] nichujie commented on #695
Happy to see #257 describes exactly the same problem, and see that already in the roadmap.
Looking forward to see it fixed!

[2021-05-13 19:21] Ziaunys commented on #684
@karibertils I ran into this same issue, and found that (at least in my situation) I needed to explicitly define the type of my component. Try adding `type: object` to your `SearchResultsDto` definition.

[2021-05-14 08:00] gzaripov opened #696 "Make generated code to be tree-shakable"
Static classes are not tree-shakable by most of the bundlers, for example rollup https://github.com/rollup/rollup/issues/349

It can be convenient to use Api.doMethod() notation but it costs us a lot. My service file is quite big and has 8000 lines. When I want to import use some api method in my code, webpack will load the whole file into my application.

Can we make an option to export functions

[2021-05-19 13:21] cmcnicholas commented on #696
I agree these shouldn't be static methods, we have a similar issue but many thousands of lines generated.

We have 6 api's we integrate with and generate a single module for all our projects to install that includes the combined codegen outputs so we can maintain them all in once place. It does mean as these api's grow all products will be consuming this code and forced to pack many unused methods

[2021-05-19 18:33] cmcnicholas opened #703 "Suggest to remove singleton OpenAPI object and make Clients instanced."
Currently the `Client` templates reference a single `OpenAPI` reference which is used to set the token or headers.

An example where this approach fails is trying to contact two API's with the same generated codegen, we frequently do this e.g. from staging to live environment stagingapi.product.com -> api.product.com and there isn't really a workaround other than set the token before every request

[2021-05-19 18:49] Ziaunys opened #704 "Support security schemes globally and per operation"
In the OAS v3 spec you can define security schemes and use them globally or on a per-operation basis. It would be nice if the client could be aware of these schemes. Otherwise, callers of my client need to know which headers to set for authentication which are implicitly part of the API.

[2021-05-20 07:28] jsnanigans commented on #388
@ferdikoomen I would like to reopen this issue, please.

We are currently implementing the ETag for an API endpoint. To follow the specs, we would need to get the ETag from the response header. We also need access to the body of the response, if the resource has been modified.
Here is the spec: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag

[2021-05-25 09:49] jacobe commented on #703
There are lots use cases where separate `Service` instances would come in handy. This would typically be when contacting different backend services or with different configurations. One example is having different set of credentials for different operations. There's currently no way of propagating the "context" in which the static `Service` methods are called.

As an example, we'd sometimes like t

[2021-05-25 10:04] cmcnicholas commented on #703
We've ended up forking (great project as a base btw) as we wanted some additional's like:

- interfaces for services
- instance based services (not static)
- exposing of the request options as functions
- remove global singleton OpenApi
- add discriminator to unioned namespace
- ability to override catchErrrors
- inject an ErrorFactory
- ability to override parsing of the body

I think that's it h

[2021-05-26 11:24] jacobe commented on #703
Thanks a ton @cmcnicholas. Yes I have thought about forking it myself, the `.hbs` templates seem to be quite easy to work with and customize.

[2021-05-26 13:38] davidschmitt opened #714 "Provide mechanism to automatically URI encode components in generated service request paths."
The generated services do not URI encode arguments that are used to build the request path.

It would be great if there were some option (probably when service code is generated) to automatically URI encode such path components.

For example, here's part of a service generated from the Camunda OpenAPI spec:

[code]

In this case the "key" argument needs to be URI encoded.  Obviously, the caller ca

[2021-05-31 12:21] ingvaldlorentzen opened #726 "Colons in Path Parameters"
**Describe the bug**
When using parameters with colons in the string, the colons are translated to an underline.
It seems to be happening on [line 2](https://github.com/ferdikoomen/openapi-typescript-codegen/blob/830b317d0a0f6aaa97dba43818ce6d1ccc109be2/src/templates/core/functions/getUrl.hbs#L2) in this file.

What is the reason for this? Any workaround?

I'll gladly work on a PR, but since I'm n

[2021-06-02 23:09] Ziaunys opened #728 "Client methods should return types associated with other status codes such as errors"
I noticed that client method signatures don't include error response types unless an error response is defined as a `default`.
Maybe I'm just doing it wrong, but at the moment it seems like the caller is responsible for de-serializing the error response from the `ApiError` object.

Here's an example of the generated method I'm dealing with:
[code]
In this case `ErrorV1` is never returned because i

[2021-06-08 09:44] klaemo opened #738 "Do you need help maintaining this project?"
Hey Ferdi,
I was wondering if you'd accept additional contributors to the project? There are quite a few PRs and bug reports that would be super useful to get addressed and released. I do understand that you're probably doing this in your free time and that's why I'm asking if the community could help out in any way? Stuff like reviewing PRs, creating releases etc.

I think a few people are alread

[2021-06-08 10:27] Dbuggerx commented on #635
Hi @ferdikoomen, would you know when that branch is going to be merged?

[2021-06-09 09:25] LucianBuzzo opened #739 "TypeError: e.trim is not a function when generating Discourse client"
When trying to Generate code using the Discourse API spec I get the following error:
[code]

This is the script I'm using to generate the client:
[code]

This is with `v0.9.3` of this module.

[2021-06-14 09:59] stoich opened #751 "Discriminator field is added to type with union instead of extending it"
Consider the following bit that's part of a swagger.yml schema:

      type: object
      oneOf:
          - $ref: '#/components/schemas/OrderByQuantity'
          - $ref: '#/components/schemas/OrderByValue'
      discriminator:
        propertyName: type
        mapping:
          quantity: '#/components/schemas/OrderByQuantity'
          value: '#/components/schemas/OrderByValue'
      required:

[2021-06-15 21:53] nikeee opened #752 "Use URLSearchParams for getQueryString"
There is a native API for building a query string:
https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams

This could replace parts of getQueryString:
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/1bd981d530cc7ffe5d091b1b3de397618429289f/src/templates/core/functions/getQueryString.hbs#L1-L19

Is this open for grabs?

[2021-06-18 04:02] willyxiao commented on #728
This makes sense.

For anything in 400/500, would you rather have `ApiError` be typed (ie generate a bunch of errors that extend `ApiError`?) or have a large union of responses?

[2021-06-23 06:32] Ronaldvdh-ISAAC opened #760 "When optional headers are not set the header is still sent with the value of undefined as string"
**Describe the bug**
Optional headers are still sent when not set with the value 'undefined' as string. this triggers schema validation because the specification state the format should be uuid and the request is rejected.

Our Open Api Specification has an optional header for a few endpoints and is defined like this:
[code]
This is will generate for example the following part of a service
[code]

[2021-06-25 00:20] janhartigan commented on #672
I'm also seeing this issue. Our services use accept headers to define versions, so we can't go with the default json type. @ferdikoomen got any idea what might be going on?

[2021-06-26 22:13] janhartigan commented on #738
@ferdikoomen second this! I'd be willing to help out as well

[2021-06-27 00:15] janhartigan commented on #672
So digging into this a bit more, basically the problem is in this function:

https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/src/openApi/v3/parser/getContent.ts

If it doesn't match a known content type, it will just return `null`, which defaults the response to `any`. There are a few ways to address this problem...

### Simple/naive solution

Modify this function to do somet

[2021-06-28 13:15] cima opened #771 "Enum fields of compound objects are not generated."
**Describe the bug**
A clear and concise description of what the bug is. Ideally with a screenshot of the result or a link to a small example.

# Steps to reproduce
Using NodeJS 10 (due to azure limitations)
[code]

see file ./myProject/src-generated/azure/testPlan/models/TestSuiteCreateParams.ts

## Actual result
[code]

## Expected result
[code]

## Notes

I suspect the fact that object [_TestSu

[2021-07-01 10:03] ericabouaf opened #772 "Add support for OpenAPI v3.0 `style` serialization method"
OpenAPI v3.0 supports several serializations options through the `style` and `explode` parameters.

We use both in our API definition, which are correctly handled by the swagger-js client, but not this code generator yet.
The generator currently only supports the `form` value of `style` (which is the default).

We would like to use the `deepObject` serialization method.
Regarding `spaceDelimited`

[2021-07-02 09:00] cima commented on #454
I am affraid that not only different file references are not correctly working. Suppose below YAML

[code]
(Whole json file can be found at: [testPlan.json](https://github.com/MicrosoftDocs/vsts-rest-api-specs/blob/master/specification/testPlan/6.1/testPlan.json))
the reference `"$ref": "#/parameters/api-Version-preview.1"` suppose to create query parameter but actually there is none and azure com

[2021-07-02 13:57] flaksp commented on #752
Seems like the purpose of `getQueryString` function is only for Internet Explorer support, because it does not support `URLSearchParams` according to MDN docs. `URLSearchParams` also does not handle objects inside query strings, but there is PR #713 that solves this issue we are awaiting to be merged.

[2021-07-09 06:10] jesseyay opened #782 "File being treated like a type in OpenAPI 3.0"
Hi ferdikoomen!

Firstly, fantastic library! Love your work.
I think this is a bug but I did have a look through the code and it seems `File` is being treated as a first class OpenAPI type.

Even so, it feels like this shouldn't happen.

Converting this spec into a client:
[code]

ends up with a `services/FileService.ts` that looks like this.
[code]

Notice how the type of the `result` field is `B

[2021-07-09 06:11] jesseyay commented on #782
Note that the model gets created correctly `models/File.ts`

[code]

[2021-07-15 14:26] todesstoss opened #791 "Not decoded URI component on ref"
Hello, trying to generate TS on completely valid OpenAPI schema having this error:

```Error: Could not find reference: "#/paths/~1admin~1cache~1clear~1%7BcacheName%7D/parameters/0"```

Looks like this ref url in not decoded properly

[2021-07-15 15:40] todesstoss commented on #791
if it could help, a similar issue:

https://github.com/drwpow/openapi-typescript/issues/587

[2021-07-15 20:24] mikekniffen opened #792 "Subpath references not supported in $ref"
Hello, thanks for all of your great work on this project! It has been hugely useful to me.

I've run into an issue when trying to generate a client for www.pagerduty.com . Link to [their openapi schema](https://github.com/PagerDuty/api-schema/blob/main/reference/REST/openapiv3.json) for reference.

The client generator is unable to follow a $ref that specifies an index under an allOf, anyOf, etc

[2021-07-16 11:00] todesstoss commented on #791
The issue is in this file:

https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/src/openApi/v3/parser/getRef.ts

path is not decoded properly.

Maybe Pointer.parse from `json-schema-ref-parser` library should be used here?

[2021-07-21 18:56] #669 closed

[2021-07-22 08:48] johtso opened #801 "Reusing existing types"
If my client and server share a codebase, is there any way to reuse my types rather than generating new types based on the OpenAPI spec?

The scenario is something like `typebox to define types and json schema` -> `fastify` -> `generate OpenAPI spec` -> `generate typescript client`

I'm guessing knowing which types to reference would be impossible as the relationship is lost along the way..

Just

[2021-07-23 13:10] Katarina-Chirich opened #802 "Blob Support"
So, as far I as understand, it looks like if we get from a server JSON, getResponseBody will return json, but for everything else it will return text.

What if I need blob (and I need actually :))? Can we return here response.blob()?

![image](https://user-images.githubusercontent.com/51708132/126786389-5413cbd4-f035-4622-a045-c8d364ba571b.png)

[2021-07-30 19:23] nandorojo opened #812 "How do I read a response’s headers?"
Is there a way to read the headers of a response, similar to the `fetch(url).then(response => response.headers)`?

If not, maybe we could add this under a `__headers?: {}` field on all response objects?

Huge fan of this lib, btw. I'd be happy to submit a PR for this!

[2021-07-30 19:24] jerber commented on #812
+1

[2021-08-05 14:13] matthelliwell2 opened #821 "Support Angular http client"
**Describe the solution you'd like**
I would like the option to generate client code that uses the Angular http library instead of fetch.

I have some Angular projects (version 11 and 12) that make calls to external rest services. We currently handcraft the calls to the rest services. We have open api specs available for the services so I would like to be able to generate client code that I can us

[2021-08-23 13:14] rbruggem commented on #791
Does https://github.com/todesstoss/openapi-typescript-codegen/pull/1 fix the issue?

[2021-09-01 12:52] rattrayalex commented on #738
Would either of you be willing to lead a published fork?

[2021-09-01 14:58] matthelliwell2 opened #823 "Generated code does not compile with Typescript 4.4 and the exactOptionalPropertyTypes flag set to true"
The generated OpenAPI.ts file looks like:
`type Config = {
    BASE: string;
    VERSION: string;
    WITH_CREDENTIALS: boolean;
    TOKEN?: string | Resolver<string>;
    USERNAME?: string | Resolver<string>;
    PASSWORD?: string | Resolver<string>;
    HEADERS?: Headers | Resolver<Headers>;
}

export const OpenAPI: Config = {
    BASE: 'https://your-domain.atlassian.net',
    VERSION: '1001.0.0

[2021-09-01 18:27] tomohisa commented on #598
https://github.com/tomohisa/openapi-typescript-codegen/commit/c8e05a4c9dfbaf40cfaae9e4bb18d038e5e8895c
I have faced in same problem and this change fixed it.
I changed multiple issues in this repo, so I am wondering how I send pull request..

[2021-09-02 06:22] CommCody commented on #738
Hi @ferdikoomen ,

If you could drop by and help the community move this project forward, it would be very much appreciated.
I would like to help as well

[2021-09-04 21:29] WORMSS opened #824 "~1 escaped characters do not seem to be parsed for reference paths"
I was trying to codegen this maps openapi3 spec made by Google.

https://raw.githubusercontent.com/googlemaps/openapi-specification/main/dist/google-maps-platform-openapi3.json

They make use of
[code]
from what I gather it's something like
#/paths/`path to another endpoint`/`method`/parameters/`endpoint parameter index`

I've had a quick look around your code, sadly I wasn't exactly sure what I w

[2021-09-05 18:35] WORMSS commented on #801
This would be something very useful, but may I suggest word of warning..
We have quite a large typescript codebase, and sometimes when the server updates their web request/response models it is sometimes overwhelming of a change. NOT using the webmodels throughout your codebase may actually be a safer option.

Trust me, It's something we wished we didn't do.

[2021-09-06 15:23] knoefel opened #826 "Arguments for Service Calls should be passed as a single object"
**Describe the bug**
When a generated service method accepts multiple parameter and some of them are optional, TS complains when they are mixed up. This happens if an optional parameter is followed by a required parameter.

<img width="666" alt="Screenshot 2021-09-06 at 17 08 41" src="https://user-images.githubusercontent.com/2396344/132237538-69dedfa5-661a-4ab1-9afb-48a73595d56d.png">

If the par

[2021-09-06 17:13] goodoldneon opened #827 "How should we validate using the exported schemas?"
How should I use the exported schemas to validate responses? They don't appear to be valid JSON schema, so we can't run them through `ajv`

[2021-09-06 18:32] EvanFBC commented on #826
Try the --useOptions flag

[2021-09-06 20:39] knoefel commented on #826
Oh no, i somehow overlooked this in the docs. 😳 Thanks @EvanFBC and sorry for the spam.

[2021-09-06 20:59] knoefel commented on #826
Now I do have another question: is it possibly planned to also generate TS types from the object-style arguments?

[code]

For example, the OperationId name with the suffix "Input" could be used as the naming. This would make it easier to write wrapper methods that pass the input to the API service method. In my case I use `react-query` and outsource each service call to a hook, so it would be con

[2021-09-08 07:03] lroal commented on #358
I think supporting axios would be a great feature. Also, what I am missing today is the possibility to intercept the http calls and error handling. For example the token could be outdated and then I would like to display the login window. Only way to do this today, is to manually handle in with try catch on every call instead registering a handler on the instance.

[2021-09-08 08:58] ibrahimduran commented on #636
I think that is because TypeScript syntax doesn't allow optional params with default value. So fields with default value are basically treated as required while default value is added in code, which makes them optional.

Problem is default values are not set for `requestBody` in [getOperationRequestBody](https://github.com/ferdikoomen/openapi-typescript-codegen/blob/715ddce21a3dc198fdd0f3a70f60da0

[2021-09-09 06:51] knoefel commented on #826
As a quick fix i got it working by adding a helper type, which extracts the arguments.

[code]

[2021-09-14 07:31] motorin commented on #826
Hi, guys.

It's so nice, I'm not the only one, who wants it! :)

I met with the same problem: in fact, when you only prepare the object to put it in service method props, it's nice to have typings for this object.

So, I did PR for this.
I propose automatic naming for these types like  `{{ServiceMethodName}}{{HTTPMethodName}}Props`
`GetClientsGetProps`, for example.

[code]

So, now, if you are us

[2021-09-15 07:37] seriousManual commented on #726
We ran into this just yesterday as well (https://github.com/hyperledger/aries-cloudagent-python/issues/1414) which caused quite a lot of headache.
Is there a specific reason for replacing colons with underscores?
I'm aware that colons might be a problem, but using the urlescaped version of a colon when replacing might be a solution here:

[code]

This is the fix I'm using to get our project to run

[2021-09-15 10:43] dovca commented on #635
@ferdikoomen Any news about this? I feel it's an essential feature of any request related library. Thanks!

[2021-09-16 07:27] ricardojosegomezulmke opened #829 "Cannot use headers AND content in responses"
Currently generated code returns either 1 (one) response header or the body as defined in spec.
But it cannot return BOTH, headers AND body.

Example from sample spec v3:
GET /user/login
responses 200:
"responses": {
 "200": {
     "description": "successful operation",
     "headers": {
         "X-Rate-Limit": {
             "description": "calls per hour allowed by the user",
             "sche

[2021-09-22 17:13] Nick-Lucas opened #830 "Typescript cannot compile generated code for Node with node-fetch v3: "Type 'string | ArrayBuffer | ArrayBufferView' is not assignable to type 'BodyInit | undefined'.""
Edit: This appears to be a problem introduced by node-fetch `3.0.0` and downgrading to 2.x resolves the compilation issue. I am leaving this issue in place for others who get the problem.

Configuration:

* Typescript: 4.4.3
  * tsc / ts-node running on NodeJS
* Node 14
* openapi-typescript-codegen: 0.9.3
  * Client: "node"

The following code is generated in `request.ts` but is not able to compil

[2021-09-24 12:59] knoefel commented on #257
Any news on when this will be available as I'm facing the same issue right now? Thx!!

[2021-09-27 16:15] #681 closed

[2021-09-27 16:58] scallaway commented on #726
Also just run into this - I can see that you'd want to strip this by default but having an escape-hatch in the form of a CLI option would be fantastic.

We don't really want to adjust the generation code as we're doing the generation on the fly, so these changes will get out of sync unfortunately.

[2021-09-27 19:07] ferdikoomen commented on #829
@ricardojosegomezulmke That is correct, this is by design for this client generator.

[2021-09-27 19:08] ferdikoomen commented on #478
No response

[2021-09-27 19:08] #478 closed

[2021-09-27 19:09] ferdikoomen commented on #453
@mvasin closing this thread because its a very different architecture then intended with this (more static) client generator

[2021-09-27 19:09] #453 closed

[2021-09-27 19:12] ferdikoomen commented on #827
@goodoldneon good point, right now the schema's have a custom format, due to some limitations of JSON schema. But you can use something like: https://github.com/openapi-contrib/openapi-schema-to-json-schema if you want to generate JSON schema's from your openapi spec

[2021-09-27 19:12] #827 closed

[2021-09-27 19:17] ferdikoomen commented on #821
@matthelliwell2  Right now we do not support this. You can use the --request option to supply a custom request method. See https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/test/custom/request.ts for an example of such a custom request file. There are no plans to support framework specific logic. Angular decided that they needed a whole abstraction layer for the HTTP calls, but

[2021-09-27 19:17] #821 closed

[2021-09-27 19:19] ferdikoomen commented on #812
@nandorojo This is driven by the OpenAPI spec itself. A response can be from the 'body' of the request or from a header.
In the OpenAPI spec (3.0) this looks something like:
[code]
But it's an either/or situation. You can get data from body OR from the headers, but not both.

[2021-09-27 19:19] #812 closed

[2021-09-27 19:22] ferdikoomen commented on #802
@Katarina-Chirich Can you explain why you need the Blob? Or better: Can you show the spec for the operation? Because then i can check how to map the input and output types

[2021-09-27 19:28] ferdikoomen commented on #801
@johtso Right now there is no way to reuse types. If you want a stable way of doing then then i agree with @WORMSS. For instance in our (internal company) codebase we define our datalayer models and we base then in the OpenAPI generated models, but in the codebase we never work directly with the OpenAPI models. In case of changes it's just a minor change in a local area. Minimal (pseudocode) examp

[2021-09-27 19:28] #801 closed

[2021-09-27 19:32] ferdikoomen commented on #752
@nikeee Indeed that was the main reason to support some older browser, but i think we can start dropping support for Internet Explorer and start supporting Edge on the way forward (since Microsoft announced the end-of-life date for our favourite browser) https://blogs.windows.com/windowsexperience/2021/05/19/the-future-of-internet-explorer-on-windows-10-is-in-microsoft-edge/

[2021-09-27 19:32] #752 closed

[2021-09-27 19:34] ferdikoomen commented on #738
@janhartigan @CommCody @klaemo Hi all, sorry i had Corona, then a broken collarbone and finally a house move in between. I'll try to pickup the work again. But there is indeed a lot to catch up on. Let me know if you still want to collaborate, then we can have a chat!

[2021-09-27 19:40] ferdikoomen commented on #728
@Ziaunys @willyxiao The result model from an operation is calculated from the success response codes (200 range) and indeed the default response value. However, during runtime we check the response code and when this is not a success (200 range) then we throw an error. This error cannot be typed (due to limitation in typing of promises), so there is no easy or nice way to fix this.

[2021-09-27 19:40] #728 closed

[2021-09-27 19:42] ferdikoomen commented on #826
@EvanFBC @motorin @knoefel  In Typescript there is a very easy way to extract the "type" in this case.

[code]
https://www.typescriptlang.org/docs/handbook/utility-types.html#parameterstype

I would suggest using this approach, or export named 'request' models for you requests?

[2021-09-27 19:42] #826 closed

[2021-09-27 19:45] ferdikoomen commented on #824
@WORMSS You where correct, this has been resolved. New version will be uploaded soon.

[2021-09-27 19:45] #824 closed

[2021-09-27 19:48] ferdikoomen commented on #792
@mikekniffen At the moment this is correct, there is a bug fixed with subpaths that seems to resolve the generation. Attached screenshot of new result. Will upload a new version soon!
<img width="983" alt="Screenshot 2021-09-27 at 21 47 30" src="https://user-images.githubusercontent.com/1791679/134975148-e6e769b7-e177-4f3b-b1f8-40e84d84f511.png">

[2021-09-27 19:48] #792 closed

[2021-09-27 19:49] ferdikoomen commented on #791
Hi all the fix has been merged

[2021-09-27 19:49] #791 closed

[2021-09-27 20:05] ferdikoomen commented on #696
@gzaripov @cmcnicholas How would that work with similar function names?
`UserService.create`
`ProjectService.create`

I can export just the create functions inside the UserService file and ProjectService files, but when i export these in the index.ts file this will break. Should we prefix the methods?

`export const UserService_create = () => {...}`
`export const ProjectService_create = () => {...

[2021-09-27 20:06] ferdikoomen commented on #684
@karibertils @Ziaunys is indeed correct. It needs a 'root' type.

[2021-09-27 20:06] #684 closed

[2021-09-27 20:09] ferdikoomen commented on #680
@klaemo Hi i will consider this for the next mayor release

[2021-09-27 20:18] ferdikoomen commented on #670
@CloudPower97 Right now there are no plans to do this. A better (recommended) option would be to expose your generated code in the Lerna 'sub-package'. I would have the spec file inside this sub-package and do the generation there (as a build step), then you can do this using something like in that package.json:

{
    "name": "@my-project/my-client",
    "version": "0.0.1",
    "files": [

[2021-09-27 20:18] #670 closed

[2021-09-27 20:41] ferdikoomen commented on #830
Added support for node-fetch 3.0.0 from version 0.10.0 and onwards. Will upload a new version soon.

[2021-09-27 20:41] #830 closed

[2021-09-27 20:49] ferdikoomen commented on #823
@matthelliwell2 More will fail when you specify exactOptionalPropertyTypes, for instance for OpenAPI model's it's quite normal to have non defined properties in modes. Examples like:
[code]
Where age and nickname might be properties the database / API does not know. We cannot make a model like:
[code]
Since not all combinations are (off course) known upfront.

[2021-09-27 20:49] #823 closed

[2021-09-27 21:38] cmcnicholas commented on #696
The index.ts file (barreling all those exports) you mention is something we dropped a while ago which made this possible for our codebase.

Unfortunately this may not be an option for you due to backwards compatibility.

[2021-09-28 08:31] ferdikoomen commented on #760
The changes have been merged for this, a new version (0.10.0) will be uploaded soon to NPM

[2021-09-28 08:31] #760 closed

[2021-09-28 20:20] ferdikoomen commented on #739
@LucianBuzzo it seems they use the type as an array value `type: ["string", "null"]` that is allowed via the JSON Schema draft (december 2020, page 17), but was not supported. I added support for this. Will publish a new version (0.10.0) soon too NPM.

[2021-09-28 20:20] #739 closed

[2021-09-28 21:32] ferdikoomen commented on #672
@janhartigan syncing accept header + response type sounds amazing, but indeed a lot of work :-) Maybe even parsing all unique responses (unique schemas) and creating a union would be the first step here. So that we at least get something like:

[code]
Instead of only V1 or V2. That should not be that difficult.

I will leave this thread open. In the mean time @sudall I will implement a very quick

[2021-09-30 08:55] #633 closed

[2021-09-30 08:56] ferdikoomen commented on #634
Merged PR

[2021-09-30 08:56] #634 closed

[2021-10-08 21:51] ferdikoomen commented on #726
The new version (0.10.0) will fix this issue. Changes are already in dev, just requires final testing before releasing to npm

[2021-10-10 00:09] tv42 opened #856 "Type and file name inconsistent when a property has a space in the name"
It looks to me like https://github.com/ferdikoomen/openapi-typescript-codegen/issues/493 is a real, open, bug.

Grab the spec from https://developers.rezdy-staging.com/rezdyapi/index-agent.html (the big "Download" button)

[code]

The string `_20` (as in 0x20, space) shows up in imports and uses of types:

[code]

The `_20` does not show up in the type definitions, or in the filenames:

[code]

[2021-10-10 05:02] xiaoyu-tamu commented on #680
have you tried with npx? `npx openapi-typescript-codegen`

[2021-10-13 18:44] Lanny opened #859 "Per-request auth / headers / request options"
**Describe the solution you'd like**
In server side rendering environments it is common that a single process may need to make requests on behalf of several users, each with their own set of credentials. It seems like this is doable with something like:

[code]

The issue is that the `TOKEN` needs to be set before each call in a bit of a clunky way, and if there the is anything async that happens

[2021-10-16 12:58] obabichev commented on #859
I got the same problem with the generated code.

I think that the fact that all the parameters are global makes the usage of the tool much more limited than it might be.

I use the library to generate the API for react native and jest tests. And in the tests, I got the problem that if two tests "concurrently" change the token it follows to the unstable behavior.

It might be a good idea to encapsu

[2021-10-19 06:25] Tak-Iwamoto opened #860 "Support multiple OpenAPI operation tags"
I would like to generate operations per OpenAPI operation tags.
An example is shown below.

OpenAPI definition
[code]

generated codes

`Tag1Service.ts`
[code]

`Tag2Service.ts`
[code]

If possible, I would like to contribute to this feature development.
Thanks.

[2021-10-19 11:11] tommilligan opened #861 "Enum of object in array uses union types"
If a schema response definition consists of:

- an array
- containing an object
- which contains an enum field

This enum will be generated using union types, not an `enum`.

This does not happen for objects not nested in an array.

A minimal reproduction can be found here: https://github.com/tommilligan/openapi-typescript-codegen-861-reproduction

---

Actual output:

[code]

Expected output:

[c

[2021-10-20 04:32] keeema opened #862 "Typescript unused value error in fetch getHeaders"
The generated code contains Typescript error for `noUnusedParameters` restriction.

[code]

It is in function getHeaders.

Proposed solution:
[code]

[2021-10-21 08:15] shofmannka opened #863 "ReferenceError: Header not defined"
**Describe the bug**
The following statement '_const headers = new Headers(defaultHeaders)_' in **request.ts** crashes with the error message
ReferenceError: Header not defined

[2021-10-24 14:58] reslear opened #864 "getOperationName custom user hook"
add to

https://github.com/ferdikoomen/openapi-typescript-codegen/blob/830b317d0a0f6aaa97dba43818ce6d1ccc109be2/src/openApi/v2/parser/getOperation.ts#L19

or

https://github.com/ferdikoomen/openapi-typescript-codegen/blob/830b317d0a0f6aaa97dba43818ce6d1ccc109be2/src/openApi/v3/parser/getOperationName.ts#L8

custom user hook

for use like example

[code]

[2021-10-24 15:29] reslear opened #865 "custom service postfix"
https://github.com/ferdikoomen/openapi-typescript-codegen/blob/830b317d0a0f6aaa97dba43818ce6d1ccc109be2/src/openApi/v3/parser/getServiceClassName.ts#L14

like

[code]

`FriendsService` -> `FriendsApi` or without prefix ->`Friends`

and for skip item simple remappings

<img width="353" alt="Screenshot 2021-10-24 at 18 28 21" src="https://user-images.githubusercontent.com/12596485/138600979-64baf430

[2021-10-24 15:54] reslear opened #866 "exclude parameters in header"
<img width="1176" alt="Screenshot 2021-10-24 at 18 46 19" src="https://user-images.githubusercontent.com/12596485/138601890-6684c645-6c71-418b-a680-9955505e5ed7.png">

exclude parameters in header on any requests, and set once in header

[code]

and set

[code]

[2021-10-25 14:47] StefSchenkelaars opened #867 "Generating null properties with "type": ["string", "null"]"
As described in #739, the JSON Schema draft (december 2020, page 17) supports the type `type: ["string", "null"]`. On version `v0.9.3` of this module it crashed which was fixed in `v0.10.0`.

But I think the generated code does not match the specified type. It currently translates

[code]

Into `requiredProp: string`. But I would expect `requiredProp: string | null`.

Does this match your idea?

*

[2021-10-25 16:14] gdseck opened #868 "Unable to make optional properties required when overriding a schema"
## Report

### Used versions

openapi-typescript-codegen: `0.11.0-beta`
typescript: `4.4.4`

### Reproduction links

[Codesanbox](https://codesandbox.io/s/laughing-dirac-7slzf?file=/src/models/User.ts)
[Github repo](https://github.com/gdseck/openapi-typescript-codegen-required-properties)

### Description

First of all, thanks for all your work on this project. I've been using it for a few months

[2021-10-26 15:19] #867 closed, assigned to ferdikoomen

[2021-10-26 16:31] #868 closed, assigned to ferdikoomen

[2021-10-27 10:13] #863 closed, assigned to ferdikoomen

[2021-10-27 15:20] Awem opened #869 "Referenced model definition missing"
I have the following issue with openapi-typescript-codegen `0.11.1`.

This is a minimal API spec (`test.yaml`) for test purposes:
[code]
I then process this with: `openapi --input ./test.yaml --output test --client node`

If I now look at `test/services/Service.ts` it tries to `import type { InternalServerError_content_application_1json_schema } from '../models/InternalServerError_content_applicat

[2021-10-27 18:35] #869 closed, assigned to ferdikoomen

[2021-11-02 16:10] ashkanjj opened #874 "Ability to exclude certain operations from Service"
**Describe the solution you'd like**

Would be great to be able to exclude generating services from certain operations such as OPTIONS. Currently, as far as I can tell, there is no way to exclude any operations from the generated client.

One possible solution is to add a certain header in the openapi spec to mark it as "internal" (similar to how redoc.ly do [this](https://redoc.ly/docs/cli/guides

[2021-11-02 21:27] robertusopo opened #875 "Duplicated exports"
When you run the script, it generates the index.ts with the different models and services.

If the API has a pagination DTO, like "PagedResultDto" what it appears many times. It tries to create and import the different type, but is stucked on the first one.

`export type { PagedResultDto } from './models/PagedResultDto';
export type { PagedResultDto } from './models/PagedResultDto';
export type {

[2021-11-03 12:56] ferdikoomen commented on #875
@robertusopo do you have an example spec that i can test?

[2021-11-03 12:58] ferdikoomen commented on #874
@ashkanjj The first question would be: Why are you hiding it from the 'generated' code while it is in the spec... I mean it's not very hidden :-) But we could do something like the "x-internal: true" setup that they have https://redoc.ly/docs/cli/guides/hide-apis/#Operation-marked-as-internal Not sure if that works for you?

[2021-11-04 09:14] mr-bjerre opened #876 "Add the possibility to codegen for node backend"
I've been using your library multiple times for creating frontend apps. It would be great if it was possible to codegen for node backend as well.

What do you think?

[2021-11-04 09:19] mr-bjerre commented on #876
God I'm blind. You have the `--client` possibility!

[2021-11-04 09:19] #876 closed

[2021-11-05 11:01] yuhr opened #877 "Use `as const` for runtime schemata"
**Describe the solution you'd like**

The contents of schemata should be statically typed. This enables us to conditionally generate derivative static types based on schemata. Could this be an option like `--exportSchemas asConst`?

<img width="356" alt="Screen Shot 2021-11-05 at 19 55 42" src="https://user-images.githubusercontent.com/18474125/140500233-14681c42-40b9-441a-82fe-628a441b7bfc.png">

[2021-11-06 07:19] ferdikoomen commented on #875
@robertusopo ?

[2021-11-07 09:41] ankit-gaur commented on #859
more use-cases for custom headers are where service operation doesn't accept application/json and the guessed headers in the generated request file doesn't work so headers need to be overridden only in some cases.

[2021-11-09 04:36] listiani13 opened #879 "Got ReferenceError: Blob is not defined in node v12"
**Describe the bug**
Ran into reference error after upgrading from 0.8.1 to 0.11.x in node v12 (node js support `Blob` natively [in >=v15](https://nodejs.org/docs/latest-v15.x/api/buffer.html#buffer_class_blob))

[code]

I think it's introduced here (https://github.com/ferdikoomen/openapi-typescript-codegen/commit/75c335a24ae4aa9a8b67c148f2bd3f0df8867309), when migrating `isBinary` to `isBlob`

Tr

[2021-11-09 11:21] cale148 opened #880 "Similar to #249. Request.credentials as "omit""
When server returns wildcard for allow-origin it doesn't wok with "include" option and sending cookies (WITH_CREDENTIALS === true) due to hardcoded in the template

   `if (OpenAPI.WITH_CREDENTIALS) {
        request.credentials = 'include';
    }`

How can I support *omit* instead of *include*?

[2021-11-10 07:15] mbraint opened #882 "Ability to provide custom path to the core directory"
**Describe the solution you'd like**
In my case, I want to extract the core once and use it for the newly generated artifacts with  `--exportCore false` are based on different open API specifications

It requires the new cli option ex. `--corePath <value>  it may be relative path or npm package`
variants:
- external npm package      `--corePath @my-company/httpClient` is based on core from this li

[2021-11-10 11:26] ferdikoomen commented on #880
@cale148 why do you nee omit, instead of the default `"same-origin"` when you set `OpenAPI.WITH_CREDENTIALS` to false?

[2021-11-10 11:27] ferdikoomen commented on #880
Because with "same-origin" you will only send cookies to domains that are on the same origin, in your case that should give you the same result as omit.

[2021-11-10 11:32] cale148 commented on #880
@ferdikoomen If I set credentials to false it wouldn't send token in cookies but I need them. Backend server provide wildcard instead of referrer for example. So means if it with "same-origin" I get 401 in that case

[2021-11-10 11:33] cale148 commented on #880
anyway in standard it's 3 options and would be helpful have case to pass them all

[2021-11-10 11:34] ferdikoomen commented on #875
No response, closing the issue

[2021-11-10 11:34] #875 closed

[2021-11-10 13:11] ferdikoomen commented on #880
@cale148 but with `omit` the cookies are not send at all..
https://developer.mozilla.org/en-US/docs/Web/API/Request/credentials

So i still don't get it:
- `omit`: Never send or receive cookies.
- `same-origin`: Send user credentials (cookies, basic http auth, etc..) if the URL is on the same origin as the calling script. This is the default value.
- `include`: Always send user credentials (cookie

[2021-11-10 13:38] cale148 commented on #880
@ferdikoomen sorry, here's misprint, it's about headers not cookies. I need authorisation, when I enabled WITH_CREDENTIALS it passes "authorization" header with request but rises CORS issue due to server provides "Access-Control-Allow-Origin: *"
So "The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*'" (https://stackoverflow.com/a/19744754). Same origi

[2021-11-10 13:41] ferdikoomen commented on #877
I think we can, i have added this for 0.12.0-alpha, could you retest this?

[2021-11-10 13:41] ferdikoomen commented on #865
Hi @reslear In 0.12.0-alpha i added the postfix parameter to allow you to control the postfix of services. Could you test this? The API is:
[code]

Its just `postfix` since we only have that one at the moment and we need a nice way to support his from command line

[2021-11-10 14:06] ferdikoomen commented on #880
ahhh now it makes sense!

[2021-11-10 14:07] ferdikoomen commented on #879
@listiani13 I published a new version 0.12.0-alpha, would you able to retest this? You will need the following dependencies for node JS: https://github.com/ferdikoomen/openapi-typescript-codegen#nodejs-support

[2021-11-10 14:10] ferdikoomen commented on #864
@reslear The generate call should match the 'API' for the CLI, so this is hard to do. Plus the correct 'formatting' is pretty standard (pascal case) for Javascript or Typescript projects. If I want to change anything that i would not do any formatting at al, leave it as close to the original name as defined in the spec file

[2021-11-10 14:10] #864 closed

[2021-11-10 14:11] ferdikoomen commented on #802
Closing this due to no response.

[2021-11-10 14:11] #802 closed

[2021-11-10 14:13] ferdikoomen commented on #598
@quertenmont @tomohisa The multipart form data issue should be fixed with 0.12.0-alpha.

[2021-11-10 14:29] yuhr commented on #877
YES it worked, thank you! It seems to be enabled with `--exportSchemas true`, it's completely okay for me, but I'm afraid there might be a small surprise to existing users as it changes every field into `readonly` so that the schema object cannot be mutated. Though the package is still 0.x.x so it's totally safe.

[2021-11-11 06:53] mbraint opened #883 "Ability to provide auth header in order to access private openApi specification files"
**Describe the solution you'd like**
In the CLI options, there is a way to provide an URL to the OAS.\
It works properly if the access to the provided URL is public.

But in some cases, the OAS is private and in order to access it, we have to provide credentials usually as an HTTP header.\
e.g. gitlab.com expects custom header: `PRIVATE-TOKEN=xxxxxxxxxx`\

As a user, I want to have the ability to

[2021-11-11 07:55] ferdikoomen commented on #400
Closing this one, we now have a --request option that you can use to pass a custom request function.

[2021-11-11 07:55] #400 closed

[2021-11-11 08:00] ferdikoomen commented on #436
@Nixes there is a 0.12.0-alpha published now that has the option to set a custom postfix (using `--postfix` defaults to `"Service"`). The 0.12.0 version will be published soon when testing is done, but this should fix your issue

[2021-11-11 08:00] #436 closed

[2021-11-11 08:07] ferdikoomen commented on #636
Hi @Ti-webdev this issue should be fixed on 0.11.x

[2021-11-11 08:07] #636 closed

[2021-11-11 08:08] ferdikoomen commented on #635
@Ti-webdev @Dbuggerx @dovca @knoefel Since version 0.11.0 we support cancelable requests in the form of cancelable promises (in order to support all possible client implementations and be compatible with a few popular middleware layers out there).

[2021-11-11 08:08] #635 closed

[2021-11-11 08:39] ferdikoomen commented on #880
@cale148 I pushed the changes to the master branch, will upload a 0.12.0-beta soon. After testing i'll publish a 0.12.0 (hopefully today / tomorrow).

[2021-11-11 08:39] #880 closed

[2021-11-11 08:39] ferdikoomen commented on #877
@yuhr well it could be a surprise, but really people should not mutate this property anyway :D

[2021-11-11 08:39] #877 closed

[2021-11-11 08:40] yuhr commented on #877
Yeah, definitely 😆

[2021-11-11 08:49] ferdikoomen commented on #874
Closing this issue for cleanup. If it's inside the SPEC, it's not private, you use the SPEC file to define your endpoints. Off-course you are free to not use the endpoints :-)

[2021-11-11 08:49] #874 closed

[2021-11-11 08:54] cale148 commented on #880
@ferdikoomen great, thanks!

[2021-11-11 09:50] ferdikoomen commented on #866
@reslear The goal of the project is to generate a "true" result of the API as defined in the SPEC file. The API key parameter is part of your spec and thus should be included in each call. The best way to handle these situations is to wrap the services in your own and modify what's needed:

[code]

[2021-11-11 09:50] #866 closed

[2021-11-11 09:50] #865 closed

[2021-11-11 09:52] ferdikoomen commented on #860
@Tak-Iwamoto Sound logical from a spec point of view, but why would you want exactly the same code in both services :-) But i agree that from looking at the spec i would also expect the same

[2021-11-11 10:43] reslear commented on #866
I also temporarily entered :) It would be cool if the tool was flexible and customizabled

[2021-11-11 12:01] ferdikoomen commented on #860
@Tak-Iwamoto i pushed a update into the master branch, will push version 0.12.0 soon (today or tomorrow)

[2021-11-11 12:01] #860 closed

[2021-11-11 12:25] ferdikoomen commented on #714
@davidschmitt The reason we do not encodeUriComponent by default is that the method is a bit too strict. For instance `encodeURIComponent('wikipedia:content')` is escaped as `'wikipedia%3Acontent'`. However the `:` character is technically fine.  https://en.wikipedia.org/wiki/Wikipedia:Contents
However there is a OpenAPI.ENCODE_PATH property that you can use to encode the fullpath before sending.

[2021-11-11 12:26] #714 closed

[2021-11-11 12:28] ferdikoomen commented on #782
Closing the ticket

[2021-11-11 12:28] #782 closed

[2021-11-11 14:33] ferdikoomen commented on #672
@janhartigan @sudall I also pushed a few improvements for the 0.12.0 version. Although we can still improve this area a lot it should be much less stupid now :-) The new version should be published today or tomorrow

[2021-11-11 14:33] #672 closed

[2021-11-11 14:43] #454 closed

[2021-11-11 14:58] ferdikoomen commented on #429
@Alex0007 closing this one. Recently we had some similar requirements and it's easy to set these headers in runtime, or alternatively publish a package from the generated client with those headers set.

[2021-11-11 14:58] #429 closed

[2021-11-11 14:59] ferdikoomen commented on #859
These tickets are all related to the same "global" objects:
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/859
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/703
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/588

Closing them and keeping the original ticket:
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/428

I definitely see

[2021-11-11 14:59] #859 closed

[2021-11-11 14:59] ferdikoomen commented on #859
These tickets are all related to the same "global" objects:
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/859
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/703
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/588

Closing them and keeping the original ticket:
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/428

I definitely see

[2021-11-11 14:59] ferdikoomen commented on #703
These tickets are all related to the same "global" objects:
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/859
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/703
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/588

Closing them and keeping the original ticket:
https://github.com/ferdikoomen/openapi-typescript-codegen/issues/428

I definitely see

[2021-11-11 14:59] #703 closed

[2021-11-11 15:04] ferdikoomen commented on #680
@klaemo i checked this with a few parties that use the generator. Although not a big issue it does break backwards compatibility. And like @xiaoyu-tamu mentioned you can use npx openapi-typescript-codegen command if there is a big clash in these specific cases. Closing the issue to cleanup the board.

[2021-11-11 15:04] #680 closed

[2021-11-11 15:07] ferdikoomen commented on #704
@Ziaunys yes at the moment we just support bearer tokens, and indeed OAS3 has these in the spec, at the moment the support for this is very limited. Please feel free to create a PR for this, right now it's not very high on my priority list.

[2021-11-11 15:08] ferdikoomen commented on #772
Closing this one as duplicate of: https://github.com/ferdikoomen/openapi-typescript-codegen/issues/654
Lets continue there

[2021-11-11 15:08] #772 closed

[2021-11-11 15:13] ferdikoomen commented on #427
@yordis closing this story, there will be a new version in the future with better abstraction (exporting services that dont have a (direct) dependency on a client is hight on the list. Similar to improving some tooling. But right now I will not make any big changes. Mainly due to time restrictions.

[2021-11-11 15:13] #427 closed

[2021-11-11 15:20] ferdikoomen commented on #450
@mvasin sorry i was in a backend mindset. The spec file contains more then just model definitions, it also contains the API routes, etc. (sometimes called API end-points or Services). Off course you can just grab a specific part of your spec file and use that. However the problem with this is:
- The spec is specific to a OpenAPI version (V2 and V3 are quite different in some area's), but the gener

[2021-11-11 15:20] #450 closed

[2021-11-12 02:18] jesseyay commented on #782
Awesome, thanks @ferdikoomen! :)

[2021-11-12 16:07] landoephan opened #884 "Can't compile with client axios"
**Describe the bug**
A clear and concise description of what the bug is. Ideally with a screenshot of the result or a link to a small example.

When I use the following command
[code]
I get the following error when trying to run my vue app:
TS7016: Could not find a declaration file for module 'form-data'.

the error originated in `request.ts` at import `FormData from 'form-data'`

I already tried

[2021-11-12 18:26] LittleUmbrella opened #885 "Services based on tags do not compile if they have POST methods"
The generated service does not contain all the imports for dependent models.  Following is an example with this outline:
- the command used to generate the client
- the problem in the generated client
- full swagger

the command used to generate the client:
[code]

one generated service, `MarketplaceService`, does not have a `Marketplace` `import`:

[code]

full swagger:
[code]

[2021-11-13 08:53] ferdikoomen commented on #884
Hi @landoephan There is a section missing indeed inside the documentation. Will add that soon (and then close the ticket). But the axios client can be used inside NodeJS and browser based environments, but because of that you need additional dependencies:

[code]

[2021-11-13 09:10] ferdikoomen commented on #884
Added documentation: https://github.com/ferdikoomen/openapi-typescript-codegen#axios-support

[2021-11-13 09:10] #884 closed

[2021-11-13 09:21] ferdikoomen commented on #885
@LittleUmbrella Good find, its related to a recent change, i pushed 0.12.1 that should fix the issue.

[2021-11-13 09:21] #885 closed

[2021-11-13 13:43] landoephan commented on #884
I think it's enough to install form-data and put "node" to your tsconfig.json types array

[2021-11-15 09:08] bardkalbakk opened #886 "Allow custom service naming/formatting"
Service name generation generates redundant names when processing Open API spec generated by NSwag. NSwag will create the operationId based on `${controller}_${method}` naming, in order to ensure unique operationId's in the document.

Example Open API 3 spec:
[code]

Will produce the following Service class by openapi-typescript-codegen:
[code]

I would like to reduce this redunant naming so that

[2021-11-16 08:08] Tak-Iwamoto commented on #860
@ferdikoomen
Awesome! Thank you so much :grinning:

[2021-11-17 09:16] cale148 commented on #695
@ferdikoomen  hi there!
I've just checked submit multi-part form data
it doesn't support arrays at all, so
[code]
run code like this
`const res = await fileServiceApi.fileUpload({ formData: { files: [file] } })`
won't be processed due to Array type

if you post it as
`const res = await fileServiceApi.fileUpload({ formData: { files: file } })`
it works properly but rises TypeScript issue with match

[2021-11-17 10:38] ferdikoomen commented on #886
@bardkalbakk you are fixing an issue in the spec with the generator.. I get this is an 'easy' place to fix this, but it's really an issue with the generated spec. Can you inject some 'x-operation-name' keys in there? otherwise we could have a look at those. The PR you have now changes it for everybody, but some might need the name in there, for instance:

`UserService.userInfo()` or `OrdersService

[2021-11-17 10:40] ferdikoomen commented on #695
@cale148 let me quickly validate what we can do with arrays these should indeed just get converted to multipart data. Will push a fix first before closing this ticket (#695)

[2021-11-17 11:16] ferdikoomen commented on #695
@cale148 dis you try it with the following spec:
[code]
I am testing some things now but the first one with the 'files' property does not work indeed. FormData needs an array of files in order to properly create the multipart data

[2021-11-17 11:21] cale148 commented on #695
@ferdikoomen unfortunately I'm not doing backend and don't have environment to roll it out on my machine. I've just tested on real API which I work with :)

[2021-11-18 11:28] adriengibrat commented on #829
Why this design?

They are various case where it's useful to get body & headers.
I'm trying to find any benefits to access only one or the other, but I'm confused.

In my case, I want to handle pagination with the [link headers](https://www.rfc-editor.org/rfc/rfc5988.html#section-5) and this particular client design force me to make the same (costly) request twice!

**Are you open to a PR**?
I'm w

[2021-11-18 19:05] JustAnotherSoftwareDeveloper opened #888 "Enums can produce invalid values"
I have the follow enum on the backend
[code]
I would like to point out these aren't arbitrary values. These values correspond to standards compliant timezone name.

Here's what gets generated by OpenAPI
[code]
As you can see, it uses the enum value as the enum name, but then removes special characters.

One of two things need to happen:

Just use the enum names. API-JSON can be modified to return

[2021-11-18 19:22] bardkalbakk commented on #886
Well in this case we also control the API and spec generation with NSwag, so it was handled there*

I still believe this package would benefit from an option to specify how the TS client are generated, including method names in the services class.  Another example is exporting the service methods directly, instead of exporting service classes with static methods. That way we could benefit from tre

[2021-11-18 19:22] #886 closed

[2021-11-18 19:35] #879 closed

[2021-11-18 19:42] ferdikoomen commented on #888
@JustAnotherSoftwareDeveloper Do you have the snippet of the OpenAPI spec that define these enums? By default OpenAPI does not allow you to export 'named' enum values, instead they rely only on values. You can use enum names by using something like `x-enum-varnames`:

[code]
The names the generator generates is a 'one size fits all' name. The name is not very important anyway, since it's the value

[2021-11-18 19:51] JustAnotherSoftwareDeveloper commented on #888
I'm sorry, this is the wrong project. I'm looking for https://github.com/OpenAPITools/openapi-generator-cli . Please close this out.

[2021-11-18 20:01] #888 closed

[2021-11-19 10:47] adriengibrat commented on #829
In the meantime, I'll try to bring my own implementation with the CLI option `--request`  _Path to custom request file_

[2021-11-19 23:02] aryzing opened #889 "Consider using AbortController.signal to cancel requests"
The `.cancel()` method to cancel requests works great, and it's a great feature to have. It's a popular convention used by many network libraries, however, a convention notheless.

It would be great to add support for an [`AbortController.signal`](https://developer.mozilla.org/en-US/docs/Web/API/AbortController/signal) created outside the generated code so as to use a native browser api rather tha